.header-new-prefix {
  background-color: #fff;
}
.header-new-prefix header {
  background: unset;
  background-color: #fff;
}
.header-new-prefix header .user-geo-position {
  float: unset;
  margin-left: 0;
}
@media only screen and (max-width: 960px) {
  .header-new-prefix header .new-template-prefix .wrapper {
    width: calc(100% - 10px);
  }
}
.header-new-prefix .mt.new__catalog__menu {
  margin-top: 49px;
}
.header-new-prefix .subr_menu {
  font-size: 12px;
  line-height: normal;
  margin-top: 40px;
  color: #333333;
}
.header-new-prefix .subr_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-new-prefix .subr_menu ul li {
  display: inline-block;
  padding: 0;
  border: unset;
  color: #333;
}
.header-new-prefix .subr_menu ul li a {
  color: #333;
  text-decoration: none;
}
.header-new-prefix .subr_menu ul li a:after {
  content: '/';
  color: #333333;
  display: inline-block;
  vertical-align: top;
  margin: 0px 5px;
}
.header-new-prefix .subr_menu .container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.footer-template-prefix footer div#footer {
  margin-bottom: 0;
  padding-top: 0;
}
.footer-template-prefix footer div#footer .footer__socials {
	margin-bottom: 1vw;
    margin-top: 1vw;
}
.footer-template-prefix footer div#footer .footer__block__002 a, .footer-template-prefix footer div#footer .footer__block__003 a, .footer-template-prefix footer div#footer .footer__block__004 a, .footer-template-prefix footer div#footer .footer__block__005 a {
  color: #fff;
}

@media only screen and (max-width: 1279px) {
  .footer-template-prefix footer div#footer {
    height: auto;
  }
  .footer-template-prefix footer div#footer .footer__block__001 {
    display: none;
  }


@media only screen and (max-width: 960px) {
  .footer-template-prefix footer div#footer {
    height: auto;
  }
  .footer-template-prefix footer div#footer .footer__block__001 {
    display: none;
  }
  .footer-template-prefix footer div#footer .wrapper {
    width: calc(100% - 10px);
  }
}

.page.home {
  margin-top: 15px;
}

@media only screen and (max-width: 960px) {
  .new-template-prefix .cart_block .cart__info__header {
    display: none;
  }
  .new-template-prefix .cart_block .cart__icon__header .adapt__num__products {
    display: block;
  }
  .new-template-prefix .adaptive__header .wrapper {
    width: calc(100% - 10px);
  }
  .new-template-prefix .basket__adaptive .cart__icon__header {
    margin-right: 15px;
  }
  .new-template-prefix .search-adaptive-button {
    width: 60px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #0a5a77;
  }
  .new-template-prefix .search-adaptive-button img {
    width: 32px;
    height: 32px;
  }
  .new-template-prefix .search-container {
    height: 60px;
    width: 105%;
    position: absolute;
    background-color: #81b5d1;
    display: none;
    left: -5px;
    justify-content: center;
    align-items: center;
  }
  .new-template-prefix .search-container #search-form-mobile {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .new-template-prefix .search-container #search-form-mobile .search-button-mobile {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new-template-prefix .search-container #search-form-mobile .search-button-mobile img {
    widows: 32px;
    height: 32px;
  }
  .new-template-prefix .search-container #search-form-mobile .search-input {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 40px;
    text-indent: 25px;
    text-overflow: ellipsis;
  }

  .changePropertiesGroup #elementProperties {
    overflow: scroll;
  }
}
