.header-new-prefix{
	background-color: #fff;
	header{
		background: unset;
		background-color: #fff;

		.user-geo-position{
			float: unset;
			margin-left: 0;
		}
			@media only screen and (max-width: 960px){
				.new-template-prefix .wrapper{
					width: calc(100% - 10px);
				}
			    
			}

	}
	.mt.new__catalog__menu{
		margin-top: 49px;
	}


    .subr_menu {
	    font-size: 12px;
	    line-height: normal;
	    margin-top: 40px;
	    color: #333333;
	    ul{
			margin: 0;
		    padding: 0;
		    list-style: none;
		    display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		    li{
		    	display: inline-block;
		    	padding: 0;
		    	border: unset;
		    	color: #333;
		    	a{
		    		color: #333;
	    			text-decoration: none;
	    			&:after{
	    				content: '/';
					    color: #333333;
					    display: inline-block;
					    vertical-align: top;
					    margin: 0px 5px;
	    			}
		    	}
		    }
	    }

	    .container{
	    	width: 1140px;
		    margin: 0 auto;
		    position: relative;
	    }
	}
}

.footer-template-prefix{
	footer{
		div#footer{
			margin-bottom: 0;
			padding-top: 0;
			
			.footer__socials{
				display: flex;
				justify-content: center;
			}

			.footer__block__002 a,.footer__block__003 a,.footer__block__004 a,.footer__block__005 a{
				color: #fff;
			}

			@media only screen and (max-width: 960px) {
				height: auto;
				.footer__block__001{
					display: none;
				}
				.wrapper{
					width: calc(100% - 10px);
				}
			}
		}
	}

}

.page.home{
	margin-top: 15px;
}

@media only screen and (max-width: 960px) {
	.new-template-prefix{
		.cart_block{
			.cart__info__header {
			    display: none;
			}
			.cart__icon__header{
				.adapt__num__products{
					display: block;
				}
			}

		}

		.adaptive__header{
			.wrapper {
			    width: calc(100% - 10px);
			}
		}


		.basket__adaptive{
			.cart__icon__header{
				margin-right: 15px;
			}
		}

		.search-adaptive-button{
			width: 60px;
			height: 44px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-left: 2px solid #0a5a77;
			img{
				width: 32px;
				height: 32px;
			}
		}

		.search-container{
			height: 60px;
			width: 105%;
			position: absolute;
			background-color: #81b5d1;
			display: none;
			left: -5px;
			justify-content: center;
			align-items: center;
			#search-form-mobile{
				margin: 10px auto;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 90%;
				.search-button-mobile{
					margin-left: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					img{
						widows: 32px;
						height: 32px;
					}
				}
				.search-input{
					width: 100%;
					height: 38px;
					border: none;
					border-radius: 40px;
					text-indent: 25px;
					text-overflow: ellipsis;
				}
			}
		}

	}

	.changePropertiesGroup{
		#elementProperties{
			overflow: scroll;
		}
	}


}