#catalogColumn .rightColumn {
    display: table !important;
}
.relink {
	width: 100%;
}
.relink_cat {
	/* height: 95px; */
	display: flex;
	flex-wrap: wrap;

}
.relink_cat-item {
	margin: 0 0 10px 0;
}
.relink_cat a {
	background-color: white;
	border-width: 1px;
	border-color: rgb(153, 153, 153);
	border-style: solid;
	border-radius: 4px;
	line-height: 40px;
    padding: 10px 20px;
	min-height: 0 !important;
	outline: none;
	margin: 0 15px 15px 0;
	color: black;
}
.relink_cat a:hover {
	color: #8f2828;
}
a.button_open_all_item {
    float: right;
    color: black;
    margin-bottom: 10px;
}
.clear {
	clear: both;
}