.catalog-products-list, .catalog-products-list * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
svg {
    margin: 0;
    max-width: none;
    width: auto;
}
.p-prods__item {
    /*
    padding-left: 12px;
    padding-top: 48px;
    */
    padding-bottom: 55px;
    /*
    padding-right: 12px;
    */
}
.p-prods__itemwp {
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3) !important;
    width: 100%;
    padding: 14px 17px;
    min-height: 433px;
}
.p-prods__itemwp:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2) !important;
}
.p-prods__nal {
    position: relative;
    font-family: RobotoBold;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3A3A3A;
    padding-left: 25px;
    display: block;
    margin-bottom: 10px;
}
.p-prods__nal::before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
    background-image: url(/assets/images/vector1.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
}
.p-prods__nal-pos::before {
    background-image: url(images/vector2.svg);
}
.p-prods__nal-snyat::after {
    background-image: url(images/vector3.svg);
}
.p-prods__imgwp {
    height: 150px;
    display: block;
    width: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    overflow: hidden;
}
.p-prods__tag {
    width: 60px;
    height: auto;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 10;
    left: -14px;
    top: 8px;
}
.p-prods__tag_zen{
    width: 60px;
    height: auto;
    display: block;
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    z-index: 10;
    left: -14px;
    top: 8px;
}
.p-prods__new {
    height: 15px;
    line-height: 15px;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #37AC09;
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    text-transform: uppercase;
    color: #ffffff;
}
.p-prods__brand {
    width: 70px;
    height: 50px;
    display: block;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
}
.p-prods__item .p-prods__title {
    font-family: "Myriad Pro Bold";
    font-size: 16px;
    line-height: 24px;
    color: #0A5A77;
    margin-bottom: 2px;
    display: block;
    margin-top: 10px;
    text-align: left;
    height: 72px;
    overflow: hidden;
}
.p-prods__title {
    text-decoration: none !important;
}
.p-prods__prices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;
}
.p-prods__price {
    font-style: normal;
    font-family: "Myriad Pro Bold";
    font-size: 22px;
    line-height: 158.47%;
    color: #0A5A77;
}
.p-prods__priceold {
    font-style: normal;
    font-family: "Myriad Pro Bold";
    font-size: 14px;
    line-height: 158.47%;
    text-decoration-line: line-through;
    color: #999999;
    margin-left: 10px;
    padding-top: 3px;
}
.p-prods__addbasket {
    display: block;
    height: 39px;
    background: #780707;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    line-height: 39px;
    color: #ffffff;
    font-size: 17px;
    font-family: "Myriad Pro Bold";
    text-align: center;
}
a.addCart.p-prods__addbasket {
    text-decoration: none;
    color: #fff;
}
.p-prods__addbasket-no {
    display: block;
    height: 39px;
    background: #780707;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    line-height: 39px;
    color: #ffffff;
    font-size: 17px;
    font-family: "Myriad Pro Bold";
    text-align: center;
}
.p-prods__predzak {
    display: block;
    height: 39px;
    background: #EB7100;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    line-height: 39px;
    color: #ffffff;
    font-size: 17px;
    font-family: "Myriad Pro Bold";
    text-align: center;
}
.p-prods__buyoneclick-pred,
.p-prods__buyoneclick {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    border: 3px solid #0A5A77;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 35px;
    height: 39px;
    color: #0a5a77;
    font-family: "Myriad Pro Bold";
    font-size: 17px;
    text-align: center;
    position: relative;
    padding-right: 24px;
    text-decoration: none;
}
.p-prods__snyat {
    display: block;
    height: 39px;
    background: #DEDEDE;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    line-height: 39px;
    color: #0a5a77;
    font-size: 17px;
    font-family: "Myriad Pro Bold";
    text-align: center;
    cursor: default;
}
a.p-prods__snyat {
    text-decoration: none;
}
p-prods__buyoneclick-pred:hover,
.p-prods__buyoneclick:hover, .p-prods__addbasket:hover, .p-prods__predzak:hover, .p-prods__snyat:hover, #del_filter:hover, #set_filter:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	text-decoration: none;
}
.p-prods__buyoneclick-icon {
    display: block;
    position: static;
    margin-right: 10px;
    width: 14px;
}
.p-prods__buyoneclick-icon svg {
    display: block;
}
.p-prods__item-catalog {
    width: 260px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    /*margin-right: 25px;*/
}
#catalogColumn_new {
    position: relative;
}
body .items.productList {
    max-width: none !important;
    display: block !important;
}
.leftColumn, .leftColumn * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.leftColumn {
    position: absolute;
    left: -365px;
    width: 365px !important;
    z-index: 13;
    margin-right: 0 !important;
    padding-right: 29px;
}
body #smartFilter {
    width: 100% !important;
    float: none !important;
    margin-right: 0;
    margin-left: 0;
}
.rightColumn {
    width: 100% !important;
}

body #catalogLine {
    padding-left: 0;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
#catalogLine .column:first-child {
    display: flex;
    align-items: center;
}
body #catalogLine a {
    display: inline-flex;
    align-items: center;
}
#catalogLine .column:last-child {
    display: flex;
    align-items: center;
}
#catalogLine #selectCountElements {
    line-height: 29px;
}
body #catalogLine a {
    margin-left: 0 !important;
    margin-right: 24px !important;
}
#catalogLine .label {
    margin-right: 34px !important;
}
body .relink_cat a {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 22px;
    font-size: 18px;
    display: block;
    margin-bottom: 12px;
    margin-right: 17px;
	border-radius: 5px;
}
body .relink_cat-item {
    margin-bottom: 0;
}
.rightColumn h1 {
    margin-bottom: 26px;
    margin-top: 26px;
    line-height: 43px;
}
body .relink {
    margin-bottom: 22px;
}

body .bx_pagination_page ul ul li {
    border-left: none;
    border-top: none;
    border-bottom: none;

    margin-right: 0;
}

body .bx_pagination_page ul ul li.itemfirst {
    border-left: 1px solid #E5E5E5;
}
body .bx_pagination_page ul li.bx_active {
    border-left: 1px solid #81B5D1;
}

.wp_pgnav {
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    overflow: hidden;
}
.wp_pgnav > li {
    border-right: none !important;
}
body .bx_pagination_page ul li.dotted {
    border-left: none;
    border-right: 1px solid #E5E5E5 !important;
    font-family: Myriad Pro;
    font-size: 16px;
    text-align: center;
    color: #828282;
}
body .bx_pagination_page ul ul li.itemfirst {
    border-left: none !important;
}
.bx_pagination_page ul li.bx_active {
    border-color: #E5E5E5;
}
.wp_pgnav > li:last-child ul li:last-child {
    border-right: none !important;
}
.all__why {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
}
body .s__why {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.s__why.s__why__003 {
    width: auto;
}
.heading__why {
    white-space: nowrap;
}
body .items.productList {
    margin-bottom: 11px;
}
body .why__listing {
    margin-top: 55px;
}
body .listing__description {
    margin-top: 55px;
}
body .catalog-products-list {
    justify-content: center;
    margin-left: -12.5px;
    margin-right: -12.5px;
    /*margin-right: -25px;*/
}
#smartFilter .paramsBoxTitle span {
    font-size: 22px;
    line-height: 26px;
    color: #0a5a77;
    font-weight: 400;
}

body #smartFilter .new-left,
body #smartFilter .new-right {
    width: 135px !important;
    height: 30px !important;
    border: 1px solid #DEDEDE !important;
    border-radius: 5px !important;
    padding: 0 16px !important;
    font-size: 15px !important;
    font-family: 'Myriad Pro Regular' !important;
}
.rangeSlider .min,
.rangeSlider .max {
    font-size: 15px;
    font-family: 'Myriad Pro Regular';
}
#smartFilter {
    background: #F4F4F4;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}
#smartFilter .paramsBox {
    padding-left: 21px;
    padding-right: 21px;
}
body #smartFilter .slider {
    margin-left: 14px;
    margin-right: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
}
body #smartFilter .slider * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#smartFilter input[type="checkbox"] + label:before {
    background: none !important;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}
#smartFilter input[type="checkbox"]:checked + label:before, #smartFilter input[type="radio"]:checked + label:before {
    content: '';
}
#smartFilter input[type="checkbox"]:checked + label:after, #smartFilter input[type="radio"]:checked + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #c4c4c4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 0;
    position: absolute;
    left: 5px;
    top: 5px;
    margin-top: -4.5px;
    display: block;
    z-index: 1;
}
#smartFilter .radio label, #smartFilter .checkbox label {
    font-size: 16px;
    line-height: 19px;
    display: block;
}
#smartFilter .radio label:hover, #smartFilter .checkbox label:hover {
    color: #000 !important;
}
#smartFilter .showALL {
    text-decoration: none;
    color: #780707 !important;
    font-size: 16px;
    line-height: 19px;
    margin-top: 6px;
    display: inline-block;
    margin-left: -14px;
}
body .rangeSlider {
    margin-left: -14px;
}
body #smartFilter .radio li, body #smartFilter .checkbox li {
    padding-bottom: 10px;
}
body #smartFilterControls {
    padding-left: 37px;
    padding-right: 37px;
}
body #smartFilterControls li {
    width: 100%;
    margin-bottom: 16px;
}
body #set_filter:hover, body #set_filter {
    height: 44px;
    width: 100%;
    display: block;
    background-color: #0A5A77 !important;
    border-radius: 5px;
    border: 2px solid #0A5A77;
    color: #ffffff !important;
    font-size: 16px;
    line-height: 40px;
}
body #del_filter_cat, body #del_filter_cat:hover, body #del_filter:hover, body #del_filter {
    height: 44px;
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 3px solid #0A5A77;
    color: #0a5a77 !important;
    background-color: #ffffff !important;
    font-size: 16px;
    font-family: "Myriad Pro Bold";
    line-height: 40px;
    text-decoration: none;
}

body #del_filter_cat .close,
body #del_filter .close {
    display: none !important;
}
body #smartFilterForm {
    padding-bottom: 43px;
}
body #smartFilter .params {
    padding-left: 14px;
    padding-right: 0;
}
body #smartFilter .slider {
    background: none !important;
}
body .new__catalog__menu .wrapper {
    width: 1231px;
}
body header > .wrapper {
    width: 1176px;
}
.asdad {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
body #selectCountElements {
    background: url(/assets/images/select-arrow.png) right no-repeat transparent;
}
body #catalogLine select {
    height: 23px;
    line-height: 24px !important;
}

body #smartFilter .propExpander {
    background-image: url(/assets/images/chevron-right-solid.svg);
    -webkit-background-size: 12px auto;
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
}
body #smartFilter .paramsBoxTitle {
    max-width: 88%;
}

#catalogLine .column * {
    white-space: nowrap;
}
#catalogLine .column > * {
    margin-bottom: 10px;
}
.p-prods__title {
    font-style: normal;
    font-family: "Myriad Pro Bold";
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #0A5A77;
    display: block;
    width: 100%;
}
.p-prods__subtitle {
    display: block;
    width: 100%;
    margin-top: 0;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #333333;
}
.p-card__preim {
    padding-top: 20px;
}
.p-preim {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.p-preim__item {
    padding: 0 10px;
    display: block;
    text-decoration: none;
}
.p-preim__top {
    padding-bottom: 30px;
    padding-top: 30px;
    color: #333333;
}
.p-preim__icon {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #0a5a77;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-preim__icon svg {
    display: block;
}
.p-preim__title {
    display: block;
    text-align: center;
    font-family: "Myriad Pro Bold";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}
.p-preim__description {
    display: block;
    text-align: center;
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.p-card__preim > .wrapper {
    width: 1140px !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

footer {
    overflow: hidden;
}

.p-prods__imgwp-wp {
    position: relative;
}
.p-prods-izgotzak {
    position: relative;
    font-family: RobotoBold;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3A3A3A;
    padding-left: 30px;
    display: block;
    margin-bottom: 10px;
}
.p-prods-izgotzak svg {
    position: absolute;
    width: 21px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.p-prods__buyoneclick-icon svg {
    width: auto !important;
    margin: 0;
}

.p-prods__nazakaz {
    display: block;
    height: 39px;
    background: #1EA427;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    line-height: 39px;
    color: #ffffff;
    font-size: 17px;
    font-family: "Myriad Pro Bold";
    text-align: center;
}
.p-prods__nazakaz:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.p-prods__sdelzak {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    border: 3px solid #0A5A77;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 35px;
    height: 39px;
    color: #0a5a77;
    font-family: "Myriad Pro Bold";
    font-size: 17px;
    text-align: center;
    position: relative;
    padding-right: 15px;
    text-decoration: none;
}
.p-prods__sdelzak:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.p-prods__sdelzak svg {
    width: auto !important;
    margin: 0 !important;
    display: block !important;
}

/* NEW MODAL */
.p-izgotov a {
    text-decoration: none;
}
.p-izgotov, .p-izgotov * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.p-izgotov ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.p-izgotov {
    width: 100%;
    max-width: 676px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 0;
    padding-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
}
.p-izgotov__wrapper {

}
.p-izgotov__top {
    text-align: center;
    padding-bottom: 14px;
    padding-top: 39px;
    display: block;
    width: 100%;
    position: relative;
}
/*
.fancybox-button {
    display: none !important;
}
*/
.p-izgotov__close {
    background-image: url(/assets/images/close-new.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    top: 20px;
    right: -9px;
    text-decoration: none;
}
.p-izgotov__title {
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    color: #0A5A77;
    display: block;
    width: 100%;
    font-weight: 600;
}
.p-izgotov__subtitle {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    display: block;
    width: 100%;
    margin-bottom: 9px;
}
.p-izgotov__yslov {
    font-family: "Myriad Pro Bold";
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    text-decoration-line: underline;
    color: #79AABF;
    display: inline-block;
}

.p-izgotov__contant {
    padding-top: 14px;
}
.p-izgotov__contant form {

}
.p-izgotov__sel {
    margin-bottom: 38px;
}
.p-izgotov__wptoggle {
    width: 100%;
    text-align: left;
}
.p-izgotov__toggle {
    display: block;
    width: 100%;
    max-width: 200px;
    padding-right: 20px;
    position: relative;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #0A5A77;
    margin-bottom: 10px;
}
.p-izgotov__toggle.active::after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.p-izgotov__toggle::after {
    content: '';
    width: 8px;
    height: 13px;
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -6.5px;
    z-index: 1;
    background-image: url(/assets/images/arrow-lite-n.png);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
}
.p-izgotov__wplist {
    margin-top: 10px;
}
.p-izgotov__list {
    display: block;
    width: 100%;
    padding-bottom: 19px !important;
    border-bottom: 1px solid #DEDEDE;
}
.p-izgotov__item {
    display: block;
    width: 100%;
    margin-bottom: 13px;
    position: relative;
}
.p-izgotov__item input {

}
#smartFilter input[type="checkbox"]:disabled + label, #smartFilter input[type="radio"]:disabled + label {
    cursor: default !important;
    color: #888 !important;
}
.p-izgotov__checkbox,
.p-izgotov__radio {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.p-izgotov__label {
    padding-left: 36px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;

}
.p-izgotov__label::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
}
.p-izgotov__label-sub {
    position: absolute;
    left: 280px;
    display: block;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    white-space: nowrap;
}

.p-izgotov__checkbox:checked + label::after,
.p-izgotov__radio:checked + label::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4c4c4 !important;
    position: absolute;
    left: 5px;
    top: 7px;
}
.p-izgotov__svoi {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 45px;
    line-height: 43px;
    padding-left: 11px;
    padding-right: 11px;
    max-width: 283px;
    margin-top: 24px;
    font-size: 18px;
    align-items: center;
}

.p-izgotov__doptreb {
    margin-bottom: 8px;
}
.p-izgotov__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #0A5A77;
    display: block;
    width: 100%;
    margin-bottom: 32px;
}
.p-izgotov__textarea {
    display: block;
    width: 100%;
    height: 126px;
    padding: 14px 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    resize: none;
}
.p-izgotov__row {
    margin-top: 24px;
    display: block;
    width: 100%;
}
.p-izgotov__inputtitle {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #333333;
    font-family: "Myriad Pro Bold";
    margin-bottom: 7px;
}
.p-izgotov__inputtitle span {
    color: red;
}
.p-izgotov__input {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 20px;
    height: 55px;
    line-height: 53px;
    font-size: 18px;
    text-align: left;
}
.p-izgotov__sogl {
    margin-top: 39px;
    display: block;
    width: 100%;
    position: relative;
}
.p-izgotov__soglinput {
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
}
.p-izgotov__sogllabel {
    padding-left: 23px;
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    vertical-align: top;
}
.p-izgotov__sogllabel::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
}
.p-izgotov__soglinput:checked + label::after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 7px;
    background-color: #c4c4c4 !important;
}
.p-izgotov__capcha {
    margin-top: 25px;
}
.p-izgotov__btns {
    display: block;
    margin-top: 37px;
    text-align: center;
    width: 100%;
    margin-bottom: 39px;
}
.p-izgotov__submit, .p-izgotov__submit_hidden {
    display: inline-block;
    width: 100%;
    max-width: 229px;
    height: 55px;
    background: #0A5A77;
    border-radius: 5px;
    border: 2px solid #0A5A77;
    line-height: 51px;
    text-align: center;
    font-size: 18px;
    font-family: "Myriad Pro Bold";
    color: #ffffff;
    cursor: pointer;
}

.p-izgotov__submit:hover {
    background-color: transparent !important;
    color: #0a5a77 !important;
}
.p-izgotov__submit:disabled:hover {
    background: #0A5A77 !important;
    color: #fff !important;
    cursor: default;
}
body details summary::after {
    background-image: url(/assets/images/svg-act.svg);
    height: 18px !important;
    top: 1px !important;
}
body details[open] summary::after {
    height: 18px !important;
    top: 1px !important;
}

@media(max-width: 1885px) {
    body #catalogLine .column:first-child {
        flex-wrap: wrap;
    }
    body #catalogLine {
        align-items: flex-start;
    }
    #catalogLine .column:last-child {
        margin-top: 2px;
    }
    .heading__why {
        white-space: normal !important;
    }
}
@media(max-width: 1199px) {
    .p-card__preim > .wrapper {
        width: 100% !important;
    }
    .leftColumn {
        width: 330px !important;
        left: -330px !important;
    }
    #smartFilter #arrFilter_P1_MIN, #smartFilter #arrFilter_P1_MAX {
        width: 116px;
    }
}
@media(max-width: 1024px) {
    body .leftColumn {
        display: block !important;
    }
    body #smartFilterForm {
        display: block !important;
    }
    .rightColumn {
        padding-top: 0 !important;
    }
    body #catalog {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #smartFilterForm .slider {
        display: block !important;
        max-width: none !important;
    }
    body #smartFilter .slider {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media(max-width: 991px) {
    body .wp-catalog {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body .wp-catalog .wrapper {
        width: 767px !important;
    }
    .p-carddes__buyoneclick-pred {
        margin-bottom: 0 !important;
        margin-top: 8px !important;
        width: 100% !important;
        max-width: none !important;
        height: 42px !important;
    }
    .p-botomfix__buyleft {
        font-size: 20px;
    }
    .leftColumn {
        position: static !important;
        left: 0 !important;
        width: 100% !important;
        padding-right: 0 !important;
    }
    body #catalogColumn_new {
        display: block;
    }
    #smartFilter #arrFilter_P1_MIN, #smartFilter #arrFilter_P1_MAX {
        width: 45% !important;
    }
    .leftColumn, .leftColumn > * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .p-card__preim > .wrapper {
        margin-left: auto!important;
        left: 0 !important;
        position: static !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
    .p-preim, .p-preim * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .p-preim {
        display: flex;
        flex-wrap: wrap;
    }
    .p-preim__item {
        width: 50%;
    }
}
@media(min-width: 768px) {
    .catmob-header {
        display: none;
    }
    .mob-show {
        display: none;
    }
    .toppanel {
        display: none !important;
    }
}
.p-izgotov__tovtop {
    display: none;
}
@media(max-width: 767px) {
    .p-izgotov__tovtop {
        display: block;
    }
    #smartFilter input[type="checkbox"]:not(checked) + label:before, #smartFilter input[type="radio"]:not(checked) + label:before {
        margin-top: -3px;
    }
    #smartFilter input[type="checkbox"]:checked + label:after, #smartFilter input[type="radio"]:checked + label:after {
        margin-top: -3px;
        width: 6px;
        height: 6px;
        left: 6px !important;
        top: 6px !important;
    }
    .p-izgotov__btns {
        text-align: right !important;
    }
    .page.home {
        margin-top: 0px;
    }
	.b-page_newyear {
		display: none;
	}
    body .wp-catalog .wrapper {
        width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
		padding-top: 40px;
    }
    body .wrapper {
        width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    body .wrapper, body .wrapper * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .adaptive__header {
        display: none !important;
        height: 0 !important;
    }
    header .adaptive__header .wrapper > div {
        display: none;
    }
    .catmob-header, .catmob-header * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .catmob-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 104;
    }
    .catmob__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .catmob__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        border-right: 1px solid #0A5A77;
        height: 33px;

    }
    .catmob__item-home {
        padding-left: 0;
        border: none;
        padding-right: 5px;
    }
    .catmob__link {
        display: block;
        position: relative;
    }
    .catmob__basket-count {
        display: block;
        position: absolute;
        z-index: 2;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        right: -11px;
        top: -11px;
        background-color: #780707;
        color: #ffffff;
    }
    .catmob__link svg {
        padding: 0;
        margin: 0;
        width: 32px;
        height: auto;
        display: block;
    }
    .catmob__menu {

    }
    .catmob__menu svg {
        width: 26px;
    }
    .catmob__home {
        border-right: none;
    }
    .catmob__basket {

    }
    .catmob__search {

    }
    .catmob__profil {
        display: inline-block;
    }
    .catmob__profil svg {
        padding: 0;
        margin: 0;
        display: block;
        width: 32px;
        height: auto;
    }
    .menu__adaptive__menu {
        left: 0 !important;
        top: 73px;
        display: none;
    }
    .catmob-header .search-container {
        width: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        top: 73px;
    }

    .toppanel, .toppanel * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .toppanel {
        margin-bottom: 15px;
    }
    .toppanel__wrapper {
        width: 100%;
        padding-left: 27px;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }
    .toppanel__filter-wp {

    }
    .toppanel__filter {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-decoration: none;
    }
    .toppanel__filter i {
        display: block;
        width: 14px;
        height: 14px;
        background-image: url(/assets/images/filter.svg);
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 11px;
    }
    .toppanel__filter.active i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .toppanel__sort-wp {
        position: relative;
    }
    .toppanel__sort {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-decoration: none;
    }
    .toppanel__sort i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        background-repeat: no-repeat;
        display: block;
        width: 14px;
        height: 9px;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center center;
        margin-left: 11px;
        background-image: url(/assets/images/rel-arrow.svg);

    }
    .toppanel__sort.active i {
        transform: none;
        -webkit-transform: none;
    }
    .toppanel__sort-list {
        position: absolute;
        top: 100%;
        width: 207px;
        left: 50%;
        z-index: 101;
        background: #F3F3F3;
        border: 1px solid #D8D8D8;
        padding: 1px 0 18px 0;
        margin: 0 0 0 -103.5px;
        list-style: none;
    }
    .toppanel__sort-item {
        display: block;
        margin-top: 11px;
    }
    .toppanel__sort-link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        display: flex;
        align-items: center;
        padding-left: 36px;

    }
    .toppanel__sort-link img {
        margin-right: 17px;
        display: block;
        width: 19px;
    }
    .toppanel__vid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .toppanel__viditem {
        padding-left: 6px;
        display: block;
    }
    .toppanel__vidlink {
        display: block;
        padding: 0;
        margin: 0;
    }
    .toppanel__vidlink svg {
        display: block;
        padding: 0;
        margin: 0;
        width: 20px;
        height: auto;
    }
    .catpanel {
        margin-bottom: 0;
    }
    .catpanel__wrapper {

    }

    .catpanel__top {
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        position: relative;
        margin-top: 0;
    }
    .catpanel {
        position: fixed;
        left: 0;
        right: 0;
        top: 73px;
        z-index: 102;
        background-color: #ffffff;
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
    .toppanel {
        position: fixed;
        top: 111px;
        left: 0;
        right: 0;
        z-index: 101;
        background-color: #ffffff;
    }
    /*body .wp-catalog {
        margin-top: 160px !important;
    }*/
    .catpanel__back {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .catpanel__back svg {
        display: block;
        width: 20px;
        margin: 0;
    }
    .catpanel__title {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 156%;
        color: #0A5A77;
        font-family: 'Myriad Pro Bold';
        text-decoration: none;
        padding-right: 27px;
        position: relative;
    }
    .catpanel__title svg {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-left: 0;
        margin-right: 0;
        margin-top: -5.5px;
        z-index: 1;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        width: 18px;
    }
    .catpanel__title.active svg {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    .catpanel__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid #0A5A77;
    }
    .catpanel__item {
        display: block;
        width: 100%;
        border-top: 1px solid #0A5A77;
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
    }
    .catpanel__link {
        display: inline-block;
        position: relative;
        padding: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #0A5A77;
        text-decoration: none;
    }
    .catpanel__link-count {
        position: absolute;
        left: 100%;
        top: 0;
        display: block;
        margin-left: 2px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .mob-hide {
        display: none;
    }
    .leftColumn {
        padding-top: 0 !important;
        height: 1px;
        position: relative;
    }
    body #smartFilter {
        position: fixed;
        top: 141px;
        left: -15px;
        right: -15px;
        width: auto;
        z-index: 99;
        width: auto !important;
        bottom: 0;
        overflow: auto;
    }
    #smartFilter .paramsBox {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    #smartFilter .paramsBoxTitle {
        display: block;
        width: 100%;
        text-align: center;
    }
    #smartFilter .paramsBoxTitle span {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #0A5A77;
    }
    body #smartFilter .paramsBoxTitle {
        max-width: 100% !important;
    }
    #smartFilter .propExpander {
        position: absolute !important;
        right: 45px !important;
        top: 7px !important;
    }
    #smartFilter .paramsBox {
        padding-top: 10px !important;
    }
    body #smartFilter .paramsBoxTitle {
        margin-bottom: 4px !important;
        padding: 0 28px !important;
    }
    /*
    body #smartFilterControls {
        display: none !important;
    }
    */
    body #smartFilterForm {
        padding-bottom: 0 !important;
    }
    body #smartFilter .params {
        padding-left: 10px !important;
    }
    #smartFilter .showALL {
        margin-left: 0 !important;
    }
    #smartFilter .radio, #smartFilter .checkbox {
        margin-top: 11px !important;
    }
    #smartFilter input[type="checkbox"]:not(checked) + label:before, #smartFilter input[type="radio"]:not(checked) + label:before {
        width: 16px !important;
        height: 16px !important;
    }
    body #smartFilter input[type="checkbox"]:checked + label:after, body #smartFilter input[type="radio"]:checked + label:after {
        top: 3px !important;
        left: 6px !important;
    }
    #smartFilter .radio label, #smartFilter .checkbox label {
        font-size: 14px !important;
        line-height: 14px !important;
    }
    #smartFilter .showALL {
        font-size: 14px !important;
        line-height: 14px !important;
    }
    #smartFilter .new-left, #smartFilter .new-right {
        font-size: 14px !important;
    }
    .rangeSlider .min, .rangeSlider .max {
        font-size: 14px !important;
    }
    #smartFilter {
        display: block;
    }
    #catalogLine {
        display: none !important;
    }
    .listing__description {
        display: none !important;
    }
    .p-prods__item {
        padding-bottom: 17px !important;
    }
    .bx_pagination_page ul li {

    }
    .p-prods__item-catalog {
        margin-left: 11px;
        margin-right: 11px;
    }
    body .catalog-products-list {
        margin-left: -11px !important;
        margin-right: -11px !important;
    }
    .stocks_iz-doma {
        padding: 11px 12px !important;
    }
    details summary::before {
        font-size: 16px !important;
        line-height: 19px !important;
    }
    body details summary::after {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11px;
    }
    .bx_pagination_page {
        zoom: 0.8;
    }
    details[open] div {
        font-size: 14px;
        line-height: 17px;
    }
    .p-card__preim {
        display: none !important;
    }
    body #catalogLine {
        display: none !important;
    }


    .p-izgotov__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
    }
    .p-izgotov__doptreb {
        margin-bottom: 30px;
    }
    .hidden-mob {
        display: none !important;
    }
    .p-izgotov__btns {
        text-align: right !important;
    }
    .p-izgotov__submit {
        width: auto !important;
        display: inline-block !important;
        height: 40px !important;
        line-height: 36px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .p-izgotov__prev {
        max-width: 150px;
        height: 40px;
        width: 100%;
        display: block;
        border: 2px solid #0A5A77;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
        line-height: 36px;
        color: #0A5A77;
        font-size: 18px;
        font-family: "Myriad Pro Bold";
        position: relative;
    }
    .p-izgotov__prev svg {
        width: 20px;
        height: 24px;
        margin: 0;
        position: absolute;
        left: 17px;
        top: 50%;
        margin-top: -12px;
        z-index: 1;
    }
    .p-izgotov__next {
        max-width: 150px;
        height: 40px;
        width: 100%;
        display: block;
        border: 2px solid #0A5A77;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
        line-height: 36px;
        color: #0A5A77;
        font-size: 18px;
        font-family: "Myriad Pro Bold";
        position: relative;
    }
    .p-izgotov__next svg {
        width: 20px;
        height: 24px;
        margin: 0;
        position: absolute;
        right: 17px;
        top: 50%;
        margin-top: -12px;
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        z-index: 1;
    }

    .fancybox-bg.visible-bg {
        background-color: transparent !important;
        display: none !important;
    }

    .fancybox-slide {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .fancybox-inner {
        top: 73px !important;
        /*bottom: 105px !important;*/
    }

    .p-izgotov1,
    .p-izgotov2,
    .p-izgotov3,
    .p-izgotov4,
    .p-izgotov5 {

    }
    .p-izgotov1 {
        display: block;
    }
    .p-izgotov2,
    .p-izgotov3,
    .p-izgotov4,
    .p-izgotov5,
    .p-izgotov6,
    .p-izgotov7,
    .p-izgotov8,
    .p-izgotov9,
    .p-izgotov10,
    .p-izgotov11 {
        display: none;
    }


    .p-izgotov__label-sub {
        left: 250px;
    }
    .p-izgotov__toggle {
        padding-right: 0;
        max-width: none;
    }
    .p-izgotov__toggle::after {
        display: none;
    }
    .p-izgotov {
        padding-left: 30px;
        padding-right: 30px;
    }
    #catalogColumn_new {
        margin-bottom: -40px;
    }
    body #catalog.row2vid .p-prods__item-catalog {
        /*width: 138px !important;*/
        /*zoom: 0.5;*/
        width: 49% !important;
        margin: 0 !important;
        padding-left: 1% !important;
        margin-right: 1% !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__itemwp {
        /*padding: 0 !important;*/
        padding: 10px 10px 94px 10px !important;
        height: 361px !important;
        min-height: auto !important;
        position: relative !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__imgwp {
        height: 120px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .wrapper__buttons-card {
        height: 66px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: 1;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__nal {
        font-size: 12px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods-izgotzak {
        font-size: 12px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__title {
        line-height: 16px !important;
        font-size: 13px !important;
        height: 48px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__price {
        font-size: 18px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__priceold {
        font-size: 12px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__addbasket {
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__buyoneclick-pred, body #catalog.row2vid .p-prods__item-catalog .p-prods__buyoneclick {
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__predzak {
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__sdelzak {
        font-size: 12px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
		height: 30px !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__nazakaz {
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    body #catalog.row2vid .p-prods__item-catalog .p-prods__snyat {
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

.page__p-card .p-card__title {
    font-family: "Myriad Pro Bold" !important;
}
.p-raitingbox__count {
    font-family: "Myriad Pro Regular" !important;
}
.p-card__p-carddes .p-prods__nazakaz {
    display: block;
    height: 52px;
    background: #1EA427;
    border-radius: 5px;
    width: 100%;
    line-height: 52px;
    max-width: 394px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "Myriad Pro Bold";
}
.p-card__p-carddes .p-prods__sdelzak {
    border: 3px solid #0A5A77;
    box-sizing: border-box;
    border-radius: 5px;
    height: 52px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    line-height: 50px;
    font-family: "Myriad Pro Bold";
    color: #0a5a77;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 394px;
    position: relative;
    padding-right: 29px;
}
.p-carddes__nal-zakkres {
    padding-left: 30px;
    font-family: 'RobotoBold';
    font-weight: normal;
}
.p-carddes__nal-zakkres svg {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    display: block;
    width: auto!important;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.p-carddes__nal-zakkres::before {
    display: none;
}
.p-botomfix .p-prods__nazakaz {
    font-size: 24px;
    color: #ffffff;
    height: auto;
    font-family: "Myriad Pro Bold";
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1EA427;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    border: 2px solid #1EA427;
}
@media(max-width: 767px) {
    .p-card__p-carddes .p-prods__sdelzak,
    .p-card__p-carddes .p-prods__nazakaz {
        display: none !important;
    }
    .p-carddes__nal.p-carddes__nal-zakkres {
        font-size: 16px;
        line-height: 19px;
        font-family: "RobotoRegular";
        display: block;
        margin-top: 18px;
    }
    .p-izgotov__list {
        border-bottom: none !important;
    }
    /*
    .page__p-card {
        padding-top: 60px
    }
    .page__p-card .p-card__title {
        padding-right: 0;
        text-align: center;
        line-height: 18px;
        font-size: 18px;
        display: block;
    }
    .page__p-card .p-card__top {
        padding-bottom: 10px;
    }
    .p-card__title-brand {
        display: none !important;
    }
    */
}

.p-izgotov__close {
    right: 10px !important;
}
.page__p-card .p-card__preim > .wrapper {
    width: 1140px;
    transform: none;
    -webkit-transform: none;
    left: auto;
}

@media(max-width: 767px) {
    #bx-panel {
        display: none !important;
    }
    .catpanel__title{
        margin-right: -27px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    div#footer{
        z-index: 3;
        position: relative;
    }
    .multi_button.mobile{
        z-index: 2!important
    }
    .multi_button{
        z-index: 2!important
    }
}
@media(max-width: 571px){
    .p-prods__item-catalog{
        width: 245px;
    }
    .p-prods__prices{
        flex-direction: column;
        align-items: flex-start;

    }
    .p-prods__priceold{
        margin-left: 0;
    }
}
@media(max-width: 542px) and (min-width: 425px){
    .p-prods__item-catalog{
        width: calc(100% / 2 - 22px);
    }
    .p-prods__nal{
        font-size: 13px;
        padding-left: 20px;
    }
    .p-prods__item .p-prods__title{
        font-size: 14px;
        line-height: 19px;
    }
    .p-prods__addbasket{
        font-size: 16px;
    }
    .p-prods__buyoneclick-pred, .p-prods__buyoneclick{
        font-size: 13px;
        padding-right: 0;
    }


}
@media(max-width: 424px){
    .toppanel__wrapper{
        padding-top: 0;
        padding-bottom: 0;
    }
    .toppanel__filter-wp {
        padding: 5px 0;
    }
    .toppanel__sort-wp{
        padding: 5px 0;
    }
    body #catalog.row2vid .p-prods__item-catalog{
        width: calc(100% / 2 - 22px);
    }
    .p-prods__item-catalog{
        width: 100%;
    }
    .p-botomfix .p-prods__nazakaz{
        font-size: 20px;
    }
    .p-izgotov__next{
        padding-left: 20px;
        text-align: right;
        padding-right: 40px;
        max-width: max-content; 
    }
    .p-izgotov__next svg{
        padding-right: 10px;
    }
    .p-izgotov__prev{
        padding-right: 20px;
        text-align: left;
        padding-left: 40px;
        max-width: max-content; 
    }
    .p-izgotov__prev svg{
        padding-left: 10px;
        left: 10px;
    }
    footer {
        margin-top: 50px;    
    }
}

@media(max-width: 375px){
    .rangeSlider{
        display: flex;
        flex-wrap: wrap;
    }
    body #smartFilter .slider{
        width: 100%;
    }
    body #smartFilter .new-left, body #smartFilter .new-right{
        width: 47% !important;
    }
}
footer {
    position: relative;
    z-index: 99;
}
#modef {
    left: 100% !important;
}
#modef {
    width: 187px !important;
    background-color: transparent !important;
    color: #155c79 !important;
    background-image: url(/assets/images/modef.png);
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
}
#modef .close {
    background-image: url(/assets/images/modef-cross-01.svg) !important;
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 11px !important;
    height: 11px !important;
}
#modef_send {
    color: #155c79 !important;
    font-weight: normal !important;
    margin-left: 14px !important;
}

/* NEW */
#appBasket .icon {
    position: relative;
}
#appBasket .icon a {
    width: 70px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
}
#appBasket .container {
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
#appBasket .information {
    line-height: 280px;
    float: left;
    width: 400px;
}
#appBasket .picture {
    position: relative;
    line-height: 280px;
    text-align: center;
    height: 280px;
    width: 300px;
    float: left;
}
body .addCart.added {
    border-color: #81B5D1 !important;
    background-color: #81b5d1 !important;
}
body .addCart.added:hover {
    border-color: #81B5D1 !important;
    background-color: #81b5d1 !important;
}
.search-page, .search-page * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-page {
    padding-left: 15px !important;
    padding-right: 15px !important;
    width: auto !important;
}
.search-page img {
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
}
.p-prods__nal-pos::before {
    background-image: url(/assets/images/vector2.svg) !important;
}
.p-prods__nal-snyat::before {
    background-image: url(/assets/images/vector3.svg) !important;
}
.p-prods__buyoneclick-pred:hover, .p-prods__buyoneclick:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
body #smartFilter .slider ins {
    background-image: none;
}
body #smartFilter .slider ins::after {
    content: '';
    width: 18px;
    height: 18px;
    border: 4px solid #0A5A77;
    position: absolute;
    left: 4px;
    top: 4px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #ffffff;
}
.p-prods__snyat:hover {
    box-shadow: none;
}
.p-izgotov__tovtop .p-card__title {
    font-family: "Myriad Pro Bold" !important;
    font-size: 18px;
    line-height: 156%;
    margin-bottom: 10px;
    padding-right: 87px;
    position: relative;
    color: #0A5A77;
    display: block;
    text-align: left;
}
.p-izgotov__tovtop .p-card__title-brand {
    width: 60px;
    height: 45px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22.5px;
    z-index: 1;
}
.p-izgotov__tovtop .p-card__p-raitingbox {
    display: flex;
    justify-content: flex-start;
}
.p-izgotov__tovtop .p-raitingbox__stars {
    margin-right: 20px;
    font-size: 0;
}
.p-izgotov__tovtop .p-raitingbox__star {
    width: 20px;
    margin-right: 8px;
    display: inline-block;
}
.p-izgotov__tovtop .p-raitingbox__count {
    font-size: 16px;
    line-height: 17px;
    padding-top: 7px;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: underline;
    color: #333333;
    display: inline-block;
}
.p-izgotov__tovtop {
    margin-top: 10px;
}
.fancybox-active {
    overflow: hidden !important;
}
.p-prods__addbasket.in-basket {
    border-color: #81B5D1 !important;
    background-color: #81b5d1 !important;
}
.form-pokaza .form__title {
    font-family: "RobotoRegular";
}
.form-pokaza .form__text {
    font-family: "RobotoRegular";
}
@media(max-width: 767px) {
    .p-izgotov__svoi {
        margin-top: 0;
    }
    .p-izgotov__svoi {
        max-width: none;
    }
    .p-izgotov__sel {
        margin-bottom: 0;
    }
    .p-izgotov__title {
        font-size: 18px;
    }
    .p-izgotov__subtitle {
        font-size: 16px;
    }
    .p-izgotov__yslov {
        font-size: 14px;
    }
    .p-izgotov__toggle {
        font-size: 16px;
    }
}
.stocks_iz-doma {
    background-color: #ACE0FC;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 26px !important;
    padding-top: 38px !important;
}
body details summary::after {
    color: transparent;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
details[open] summary::after {
    color: transparent;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
@media(max-width: 767px) {
    .stocks_iz-doma {
        padding: 11px 12px !important;
    }
    body details summary::after {
        max-width: 18px;
    }
}
.p-prods__tag {
    width: 120px !important;
    left: -38px !important;
}
.p-prods__tag > span {
    height: 30px !important;
    line-height: 30px !important;
    font-size: 12px !important;
}
.modal-ok .fancybox-button {
    display: none !important;
}