/*Start to 1280*/
@media only screen and (max-width: 1279px) {
	body {
		min-width: 100%;
	}

	.wrapper {
		width: calc(100% - 40px);
	}

	.header__block__h_001 > * {
		margin: 0;
		padding: 0;
	}

	.header__block__h_001 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;
	}
	.header__block__h_002 > * {
		margin-left: calc(100%/100);
		margin-right: calc(100%/100);
	}
	.left__section__popular {
		width: calc(100%/3);
		overflow: hidden;
	}

	.center__section__popular {
		width: calc(100%/3);
		overflow: hidden;
	}

	.right__section__popular {
		width: calc(100%/3);
		overflow: hidden;
	}
	a.topBtnLeft, a.topBtnLeft-2, a.topBtnLeft-3 {
		left: -15px;
	}

	a.topBtnRight, a.topBtnRight-2, a.topBtnRight-3 {
		right: -15px;
	}

	.s__why {
		width: 22% !important;
	}

	.all__why {
		text-align: center;
	}

	.economy__block {
		width: 100%;
	}

	.left__bg__economy {
		width: calc(100% - 467px);
	}

	.single__rew__rew {
		width: 45%;
	}

	.single__rew__product {
		width: 50%;
	}

	p.b_slider_prev {
		left: -15px;
		top: 360px;
	}

	p.b_slider_next {
		top: 360px;
		right: -15px;
	}

	.health__care__main {
		margin-top: 185px;
	}

	#footer > .wrapper > div {
		width: 18.4%;
	}

	.footer__payments img {
		width: calc(100%/7);
	}

	.home_brand_slider p.b_slider_prev {
		top: 55px;
		z-index: 500;
	}

	.home_brand_slider p.b_slider_next {
		top: 55px;
	}
	.slide__main__top-5453 {
		background-position: -370px;
	}

	li.active.dropdown ul.drop {
		display: block;
	}

	.new__catalog__menu li.dropdown.active > ul.drop {
		display: block;
		position: absolute;
		top: 50px;
		z-index: 500;
		background: #81B5D1;
		width: 270px;
		left: -5px;
	}
	.new__catalog__menu li.dropdown:hover a+.drop {
		display: unset;
	}
	.slide__main__top-5454 .slider__main__content {
		margin-left: 6.6%;
	}
	a.brand_slider_pic_link img {max-width: 175px;height: auto;}
}
/*End to 1280*/

/*Start to max 768*/
@media only screen and (min-width: 961px) {
	.adaptive__header {
		display: none;
	}
}
/*End to max 768*/

/*Start to 768*/
@media only screen and (max-width: 960px) {
	.header__block__h_001, .header__block__h_002 {
		display: none;
	}
	.adaptive__header {
		border-bottom: 2px solid #0A5A77;
		padding-top: 15px;
		z-index: 500;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 900;
		background: #fff;
		width: 100%;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	}

	.menu__adaptive__menu {
		position: fixed;
		left: -300px;
		transition: all ease 0.2s;
		background: #0A5A77;
		z-index: 550;
		width: 295px;
	}

	.menu__adaptive__icon {
		background: #0A5A77;
		width: 50px;
		height: 50px;
		left: -20px;
		position: relative;
		cursor: pointer;
		display: inline-block;
		padding-top: 10px;
		box-sizing: border-box;
	}

	.menu__adaptive__icon > span {
		display: block;
		width: 40px;
		height: 3px;
		background: #fff;
		margin-left: 5px;
		margin-top: 5px;
		transition: all ease 0.2s;
	}

	.active.menu__adaptive__icon .mai002 {
		display: none;
	}

	.active.menu__adaptive__icon .mai001 {
		transform: translate(0px, 8px) rotate(45deg);
	}

	.active.menu__adaptive__icon .mai003 {
		transform: translate(0px, 0px) rotate(-45deg);
	}
	.logo__adaptive {
		display: inline-block;
		vertical-align: top;
		height: 50px;
		width: 150px;
	}

	.adaptive__menu {
		display: inline-block;
		vertical-align: top;
	}

	.logo__adaptive img {
		height: 100%;
		width: auto;
	}

	.favs__adaptive {
		display: inline-block;
		vertical-align: top;
		padding-top: 6px;
		border-right: 2px solid #0A5A77;
		padding-right: 15px;
		height: 45px;
		box-sizing: border-box;
	}

	.basket__adaptive {
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		margin-top: 3px;
	}

	.basket__adaptive .cart_block {
		margin: 0;
		padding: 0;
	}

	.login__adaptive {
		display: inline-block;
		float: right;
		font-size: 25px;
		margin-top: 16px;
	}
	.menu__adaptive__menu li.dropdown {
		list-style-type: none;
	}

	.menu__adaptive__menu li.dropdown > a {
		text-decoration: none;
		color: #fff;
		display: block;
		width: 100%;
		position: relative;
		padding: 5px 0;
		border-bottom: 1px dotted #fff;
		/*pointer-events: none;*/
		font-size: 19px;
	}

	.menu__adaptive__menu li.dropdown >.drop {
		display: none;
	}

	.menu__adaptive__menu ul.no_s {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		padding: 15px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	}

	.menu__adaptive__menu li.dropdown.active > a::after {
		content: "-";
	}
	.menu__adaptive__menu li.dropdown > a::after {
		content: "+";
		position: absolute;
		right: 0;
		cursor: pointer;
		pointer-events: all;
		font-weight: 900;
	}

	.menu__adaptive__icon.active + .menu__adaptive__menu {
		left: 0;
	}
	.home_top_slider.test {
		margin-top: 72px;
	}
	.new__catalog__menu {
		display: none;
	}
	li.dropdown li.drop__item a {
		color: #fff;
		text-decoration: none;
	}

	li.dropdown li.drop__item {
		border-bottom: 1px dotted #fff;
		padding-bottom: 8px;
		padding-top: 8px;
	}

	li.active.dropdown ul.drop {
		padding: 8px 25px;
	}
	.left__section__popular span.s__section__bg {
		left: -85px;
	}

	.center__section__popular .s__section__bg {
		left: -55px;
		position: relative;
	}

	span.s__section__name {
		text-shadow: 0px 0px 2px #fff,0px 0px 2px #fff,0px 0px 2px #fff,0px 0px 2px #fff;
	}

	.s__why {
		width: 45% !important;
		margin-bottom: 25px;
	}

	.economy__block {
		position: relative;
	}

	.left__bg__economy {
		position: absolute;
		width: 100%;
	}

	.right__economy {
		position: relative;
		background: linear-gradient(to right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.9) 13%,rgba(255,255,255,1) 100%);
		height: 100%;
		float: right;
	}

	.single__rew__product {display: block;width: 450px;margin: 0 auto;margin-top: 25px;}

	.single__rew__rew {display: block;width: 100%;}

	.slider__rew__main {
		height: 570px;
	}
	.single__review__main {
		height: unset !important;
	}
	.main__brands__slider h3.heading {
		font-size: 32px;
	}
	.footer__block__001 {
		display: none;
	}

	#footer > .wrapper > div {
		width: 22%;
	}
	.adapt__num__products {
		display: none;
	}
}
/*End to 768*/



/*Start  320-767*/
@media only screen and (max-width: 960px) {
	.logo__adaptive {
		display: none;
	}

	.login__adaptive {
		/* float: none; */
		/* display: block; */
	}

	.basket__adaptive {
		margin-left: 10px;
	}

	.adaptive__header {
	}

	.cart__info__header {
		display: none;
	}

	.cart__icon__header {
		margin: 0;
	}

	.wrapper {
		width: calc(100% - 10px);
	}

	.menu__adaptive__icon {
		left: -5px;
	}

	.favs__adaptive {
		margin-left: 25px;
	}

	.popular__categories h3.heading {
		margin-top: 15px;
	}

	h3.heading {
		font-size: 29px;
		line-height: 31px;
	}

	.popular__info {
		line-height: 22px;
		margin-top: 25px;
	}

	.left__section__popular {
		width: 100%;
		margin: 0 auto;
		display: block;
	}

	.left__section__popular > div {
		display: block;
		margin: 0 auto;
	}

	.left__section__popular span.s__section__bg {
		left: 0;
	}

	.center__section__popular {
		width: 100%;
		margin: 0 auto;
	}

	.right__section__popular {
		width: 100%;
		margin: 0 auto;
		margin-top: -5px;
	}

	a.tabs__btn.h2 {
		display: block;
		line-height: 30px;
		font-size: 23px;
	}

	a.tabs__btn.h2.active {
		border-bottom: none;
	}

	.why__main {
		margin-top: 60px;
	}

	.info__txt {
		font-size: 20px;
		margin-top: 20px;
	}

	.s__why {
		width: 100%!important;
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}

	.left__bg__economy {background-position: center top;}

	.right__economy {
		width: 100%;
		background: rgba(255,255,255,0.77);
	}

	.heading__economy {
		margin: 15px;
	}

	.info__economy {
		margin: 25px 15px;
	}

	.get__discount__economy {
		margin: 0 auto;
		margin-top: 65px;
	}

	.single__rew__product {
		display: none;
	}

	.main__brands__slider h3.heading {
		font-size: 24px;
	}

	#footer > .wrapper > div {
		width: 43%;
	}

	div#footer {
		height: 100%;
	}

	.footer__block__heading {
		font-size: 15px;
	}

	a.footer__phone.phone__icon {
		font-size: 15px;
	}

	a.footer__phone {
		font-size: 15px;
	}
	.health__care__main {
		margin-top: -105px;
	}
	.slide__heading.slide__001 {
		font-size: 22px;
		left: 10px;
		top: 50px;
	}

	.slide__text__001 {
		font-size: 15px;
		left: 25px;
		top: 70px;
		width: 95%;
		margin-top: -5px;
	}

	.slide__button__link.test__drive__button {
		margin: 0 auto;
		margin-top: 95px;
		text-align: center;
		top: 0;
		left: 0;
	}

	.slide__main__top-5453 {
		background-size: cover;
		/*background-position: center;*/
		background-position: 1395px;
	}

	.slider_next.main_slider_next {
		top: auto;
		bottom: 15px;
	}

	.slider_prev.main_slider_prev {
		top: auto;
		bottom: 15px;
	}

	.slide__heading.slide__002 {
		font-size: 22px;
		top: 15px;
		/*text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;*/
	}

	.licvidation__slider {
		font-size: 18px;
		margin-top: 35px;
		/*text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;*/
	}

	span.discount_big {
		display: block;
	}

	.slide__text__002 .slide__dots {
		font-size: 15px;
		/*text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000;*/
	}

	.slide__main__top-5454 {background-position: 769px 0px;}

	.center__section__popular .s__section__bg {
		left: unset;
	}
	.webFormDwModal.webFormModal-id-5,
	.webFormDwModal.webFormModal-id-4 {
		padding: 10px !important;
		width: 100% !important;
	}

	.webformModalContainer {
		width: calc(100% - 10px) !important;
		min-width: 150px !important;
	}
	.webformModal .webFormModalHeadingExit {
		right: 10px !important;
		top: 10px !important;
	}
	.home_popular_item div#topProduct-4 .item.product, .home_popular_item div#topProduct-3 .item.product, .home_popular_item div#topProduct-2 .item.product, .home_popular_item div#topProduct .item.product {
		width: auto !important; 
	}

	/*Slider FIX*/
	.slider__stuff__main ul.productList li:last-child {
		display: none !important;
	}
	.adapt__num__products {
		position: absolute;
		color: #fff;
		background: #81B5D1;
		text-align: center;
		width: 20px;
		height: 20px;
		line-height: 22px;
		border-radius: 50%;
		top: -6px;
		right: -10px;
		font-weight: bold;
		font-size: 11px;
		border: 1px solid #0A5A77;
		box-sizing: border-box;
		display: block;
	}

	.cart__icon__header {
		position: relative;
	}
	.center__section__popular .s__section__003 {
    height: 245px;
}

ul.slick-dots {
    position: relative;
    bottom: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.slick-dots li {
    text-indent: -9999px;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: #81B5D1;
    margin: 0px 5px;
    border-radius: 50%;
}

ul.slick-dots li.slick-active {
    background: transparent;
    border: 2px solid #0A5A77;
    box-sizing: content-box;
    margin-top: -2px;
}

a.topBtnLeft, a.topBtnLeft-2, a.topBtnLeft-3 {
    display: none !important;
}
a.topBtnRight, a.topBtnRight-2, a.topBtnRight-3 {
    display:none !important;    
}

p.b_slider_next {
    display: none !important;
}

p.b_slider_prev {
    display: none !important;
}
.slider__rew__main ul.slick-dots {
    bottom: -25px;
}
.slider_brand ul.slick-dots {
    bottom: -5px;
}

}
/*End 320-767*/

/*Start Fix 425-768*/
@media only screen and (min-width: 426px) and (max-width: 960px) {
	.left__section__popular {
		width: calc(100%/3);
		overflow: hidden;
		display: inline-block;
		margin-left: 0;
	}

	.center__section__popular {
		width: calc(100%/3);
		overflow: hidden;
		display: inline-block;
		margin-left: -3px;

	}

	.right__section__popular {
		width: calc(100%/3);
		overflow: hidden;
		display: inline-block;
		margin-left: -4px;

	}
	a.tabs__btn.h2 {
    	display: inline-block;
	}
	a.tabs__btn.h2.active {
		border-bottom: 2px solid #0A5A77;
	}
	.s__why {
 	   width: 45% !important;
    	display: inline-block;
	}
		.center__section__popular .s__section__003 {
    height: auto;
}
}
/*End Fix 425-768*/

/*Start only 1024*/
@media only screen and (width: 1024px) {
	.slide__main__top-5453 {
		background-position: -370px;
	}
	.slide__main__top-5454 .slider__main__content {
		margin-left: 90px;
	}

}
/*End only 1024*/

/*Start only 768*/
@media only screen and (width: 768px) {

}
/*End only 768*/

/*Start only 320*/
@media only screen and (width: 320px) {

}
/*End only 320*/