h1 {
	color: #0A5A77 !important;
	margin: 0 50px;
}

.title_art_news {
	position: relative;
}

.back {
	display: none;
}

div.news-list {
	word-wrap: break-word;
	text-align: center;
	background-color: #fff;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 1.5%;	
}
div.news-list .news-item img.preview_picture
{
	margin-bottom: 10px;
	float: top;
	max-width: 100%;
}
.news-date-time {
	color: #0A5A77;
    margin-right: 5px;
    position: absolute;
    display: block;
    bottom: 15px;
    right: 10px;
}
.news-item {
	position: relative;
	display: -webkit-inline-block;
	display: inline-block;
	max-width: 250px;
	height: 500px;
	max-height: 500px;
	overflow: hidden;
	margin: 10px;
	background-color: #fff;
	text-align: left;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px; 
	padding-bottom: 30px; 
	margin-bottom: 20px;
	background: #ffffff;
	color: #363636;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
    transition: all ease 0.2s;
	border-radius: 4px;
	font-size: 12pt;
	vertical-align: bottom;
	text-decoration: none;	
}
.news-item:hover {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.50);
	display: -webkit-inline-block;
	display: inline-block;
	width: 250px;
	max-width: 250px;
	height: 500px;
	max-height: 500px;
	overflow: hidden;
	margin: 10px;
	background-color: #fff;
	text-align: left;	
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px; 
	padding-bottom: 30px; 
	margin-bottom: 20px;
	background: #ffffff;
	color: #363636;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    background: #FFFFFF;
    box-sizing: content-box;
    transition: all ease 0.2s;
	border-radius: 4px;
	font-size: 12pt;
	vertical-align: bottom;
	text-decoration: none;
}
.news-item a {
	text-decoration: none;
}
div.news-list div.news-item div.head_description {
	text-align: center;
	font-size: 13pt;
	font-weight: 600;
	color: #0A5A77;
	padding-top: 3 px;
	padding-bottom: 5 px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
	height: 30px;
	border-bottom: 2px;
	border-bottom-color: #0A5A77;	
}
div.news-list div.news-item div.description_news {
	
	overflow: hidden;
	padding-top: 2 px;	
	padding-bottom: 5 px;
	padding-left: 5px;
	padding-right: 5px;

}
.new_section_articles_pre {
	margin-left: 55px;
}
.new_section_articles {
	display: inline-flex !important;
	padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 22px;
    font-size: 18px;
    display: block;
    margin-bottom: 12px;
    margin-right: 17px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #0A5A77;
    box-sizing: border-box;
    min-height: 0 !important;
    outline: none;
    margin: 0 15px 15px 0;
}

.new_section_articles_pre a {
    text-decoration: none;
    color: #0A5A77;
}

.show-prop {
    color: #0A5A77;
    margin-right: 5px;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: normal;
    bottom: 15px;
    left: 12px;
}

@media(max-width: 768px) {
	
.new_section_articles_pre {
    margin-left: 0px;
}

.new_section_articles_pre a:first-child div {
    border-bottom: 0;
}

.new_section_articles {
    display: block !important;	
    font-size: 14px;
    background-color: white;
    border: 1px solid #0A5A77;
    box-sizing: border-box;
    min-height: 0 !important;
    text-align: center;
	margin: 0;
	border-radius: 0;
    border-right: 0;
    border-left: 0;
}

.subr_menu {
	display:none;
}

h1 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
}

.back {
    display: block;
    max-width: 25px;
    max-height: 17px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 15px;
    transform: rotate(90deg);
}

img.back_img {
    max-width: 25px;
    max-height: 25px;
}

}