/* Styles only for mobile */
body {
    min-width: 320px;
}
.social_icons {
    margin: 0 auto;
}
.mobile_a {
    color: #4e4e51;
    font-size: 19.45px;
    text-decoration: none;
    text-transform: unset;
}
.order_select {
    display: none;
    margin-bottom: 20px;
    width: 100%;
}
button.order_btn.order_btn__open.order_btn__select {
    border: 1px solid rgb( 204, 204, 204 );
    border-radius: 5px;
    background-color: rgb( 255, 255, 255 );
    font-size: 12px;
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    max-width: unset;
    text-align: left;
    padding: 10px;
    color: #131313;
    min-height: unset;
    max-height: 33px;
    background-image: url(/verstka/img/mobile/arrow.png);
    background-size: 3%;
    background-position: 95%;
    background-repeat: no-repeat;
}
.close.close_order.close_mobile {
    display: none;
    top: 20px;
    right: 21px;
}
.back {
    display: none;
    max-width: 25px;
    max-height: 17px;
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 21px;
    transform: rotate(90deg);
}
.settings_change {
    display: none;
    font-size: 16px;
    color: #0a5977;
    padding: 25px 0 0 0;
    margin: 0;
    text-align: center;
}
.profile_mobile {
    display: none;
    margin: 14px auto 0;
}
.profile_mobile-text {
    margin: 0;
    padding: 0 0 15px 0;
    color: #0a5a77;
    font-size: 10px;
    text-align: center;
}
.application_picture {
    display: none;
    max-width: 12px;
    max-height: 12px;
    cursor: pointer;
}
.personal_h2.personal_h2__mobile{
    display: none;
}
.personal_menu.personal_menu__width {
    width: 50%;
}
.personal_mobile,
.personal_h2.personal_h2__reg,
.personal_ttl__a.personal_ttl__mobile,
.order_del.order_del__mobile,
.personal_title.personal_title__mobile {
    display: none;
}
.personal_title.personal_title__mobile {
    color: #333333;
    font-size: 12.5px;
    margin: 6px 0 13px;
}

.order_del.order_del__mobile p.order_delete {
    color: #993333;
    font-size: 12.5px;
    margin-top: 17px;
    width: 100%;
    text-align: center;
}
.personal_log {
    display: none;
    max-width: 18px;
    max-height: 18px;
}
section.personal.none,
.order_mobile {
    display: none;
}
.entrance_picture {
    display: none;
    position: absolute;
    max-width: 17px;
    max-height: 17px;
    top: 26.5%;
}
/* End styles only for mobile */



@media screen and (max-width: 1300px) {
    form.personal_reg.personal_reg__registration input{
        max-width: unset;
        width: 48.5%;
    }
    form.personal_reg.personal_reg__registration.user_settings input {
        width: 100% !important;
    }
    form.personal_reg.personal_reg__registration .reg_input input {
        width: 99%;
    }
    .reg_input.reg_input__width {
        width: 49% !important;
    }
    input.personal_input.personal_input__email:nth-child(2) {
        margin-right: 0;
    }
    .reg_input.reg_input__width:nth-child(4) input {
        margin-left: 10px;
    }
}
@media screen and (max-width: 1200px) {
    .personal_buttons {
        width: 85%;
    }
}
@media screen and (max-width: 1100px) {
    form.personal_reg.personal_reg__order {
        max-width: 260px;
        margin: 0 auto;
    }
    p.order_name {
        font-size: 14px;
    }
    .order_right {
        max-width: 305px;
    }
    .settings_buttons.settings_buttons__order button {
        max-width: 150px;
    }
    .settings_item-big {
        display: block;
    }
    .profile_bottom {
        display: block;
    }
    .profile_registration.profile_registration__border {
        border: none;
    }
    .profile_registration.profile_registration__padding {
        padding: 0;
    }
    .profile_registration {
        width: 100%;
    }
    .application_content {
        width: 75%;
    }
}
@media screen and (max-width: 1000px){

    .personal_menu {
        max-width: 85%;
    }
    a.personal_a {
        font-size: 15px;
    }
    .social_icons a.for_link {
        max-width: 30px;
        max-height: 30px;
    }
    .social_icons a img {
        width: 146%;
    }
    .order_conditions {
        display: block;
    }
    .order_left,
    .order_right {
        max-width: unset;
        width: 100%;
    }
    p.order_name {
        font-size: 16.667px;
    }
    .order_summarise {
        justify-content: center;
    }
    .order_summarise p.order_title-big {
        margin: 8px 0 15px;
    }
    .settings_buttons.settings_buttons__order {
        max-width: unset;
        justify-content: space-around;
    }
}
@media screen and (max-width: 950px){
    .date_reg {
        max-width: unset;
    }
    .profile_picture.profile_picture__settings {
        width: 160px;
        height: 160px;
    }
    .settings_absolute {
        left: 15%;
    }
    .settings_additional.settings-inner .settings_buttons button {
        max-width: 210px;
        font-size: 15px;
    }
    .personal_buttons {
        width: 100%;
    }
    p.personal_ttl__a {
        font-size: 14px;
    }
}
@media screen and (max-width: 900px) {
    .order_buttons,
    .date_buttons {
        transform: scale(0.97);
    }
}
/* START FOR MOBILE DEVICES */
@media screen and (max-width:750px) {
    p.personal_ttl__a {
        padding-left: 0;
    }
    .order_buttons,
    .date_buttons {
        transform: scale(1);
    }
    .max_width_750 {
        display: none;
    }
    input {
        min-height: unset !important;
        height: 33px;
    }
    .personal_content {
        box-shadow: unset;
    }
    /*.personal_tab,*/
    /*.personal_tab.active,*/
    /*.social {*/
        /*display: none;*/
    /*}*/
    .personal_menu {
        width: 100%;
        flex-direction: column;
    }
    .personal_content.personal_content__order .personal_menu,.order_buttons {
        display: none;
    }
    .date_buttons {
        max-width: unset;
    }
    input.date_btn {
        max-width: 120px;
        background-size: 18%;
    }
    input.date_btn,
    .orders_search input {
        color: #131313;
        font-size: 12px;
        min-height: unset;
        max-height: 33px;
    }
    .personal_buttons {
        padding-bottom: 20px;
    }
    .orders_picture {
        display: none;
    }
    h1.personal_h1,
    h2.personal_h2 {
        color: #4e4e51;
        padding: 20px 0 0;
        font-size: 16px;
        text-align: center;
    }
    .personal_content.personal_content__order {
        max-width: 400px;
        margin: 0 auto;
        padding: 24px 0 140px;
    }
    .new-template-prefix footer {
        margin-top: 0;
    }
    .personal_buttons button {
        padding: 10px 0 10px 10px;
    }
    .order_select {
        display: block;
    }
    .personal{
        position: relative;
    }
    .close.close_order.close_mobile,
    .back {
        display: block;
    }
    .personal_found {
        margin-top: 28px;
        text-align: center;
    }
    .personal_found .personal_p {
        color: #5c5c5d;
        font-size: 16px;
    }
    button.personal_button.personal_button__go {
        font-size: 17px;
    }
    .personal_content.personal_content__order.not_found {
        padding: 24px 0 26px;
    }
    .personal_wrapper {
        flex-direction: column;
        max-width: 400px;
        padding-bottom: 60px;
        margin: 35px auto 0;
    }
    .profile_set {
        width: 100%;
        margin: 0 auto;
    }
    .contacts.contacts_settings {
        width: 100%;
        margin:  0 auto;
    }
    .profile_set .profile_top,
    .settings_date,
    .settings_absolute{
        display: none;
    }
    .profile_top.profile_top__settings {
        display: block;
    }
    .profile_title.profile_title__settings {
        font-size: 12px;
        color: #1f1f1f;
    }
    .profile.profile_set .personal_content.personal_content__settings,
    .contacts.contacts_settings .personal_content.personal_content__settings {
        padding: 0;
    }
    .contacts.contacts_settings .personal_content.personal_content__settings {
        margin-top: 23px;
    }
    .settings_change {
        display: block;
    }
    .profile_picture.profile_picture__settings {
        max-width: 120px;
        max-height: 120px;
    }
    .contacts.contacts_settings input.personal_input {
        margin-bottom: 10px !important;
        font-size: 12px !important;
    }
    .contacts.contacts_settings .reg_input {
        margin-top: 0;
    }
    form.personal_reg.personal_reg__registration .reg_input {
        margin-bottom: 10px;
    }
    p.personal_ttl__a,
    a.personal_ttl__a {
        font-size: 12px;
    }
    .calendar_picture {
        width: 21px;
        height: 21px;
    }
    .profile_top.profile_top__settings:nth-child(2) {
        padding: 25px 0 10px;
    }
    .settings_additional.settings-inner .settings_buttons {
        flex-direction: column;
        align-items: center;
    }
    .settings_additional.settings-inner .setting_buttons button {
        font-size: 12px;
    }
    button.personal_button.personal_button__settings {
        margin-top: 10px;
    }
    .settings_additional.settings-inner .settings_buttons button {
        font-size: 10px;
        max-height: 30px;
        line-height: unset;
    }
    .profile,
    .contacts {
        width: 100%;
    }
    .personal_content.personal_content__login {
        padding: 0;
        margin-top: 25px;
    }
    .profile_status,
    .personal_content.personal_content__bottom,
    .personal_content.personal_content__contacts,
    .personal_content.personal_content__additional.first,
    .profile-order_picture,
    .application_image,
    .profile_top.profile_top__additional {
        display: none;
    }
    .application_content {
        width: 100%;
    }
    .profile .profile_top {
        justify-content: center;
    }
    .profile_picture {
        max-height: 120px;
        max-width: 120px;
    }
    .profile_settings {
        max-width: 39px;
        max-height: 37px;
    }
    .profile_big.profile_big__us-de .profile_main {
        position: relative;
        border-bottom: 1px solid rgb( 10, 89, 119 );
    }
    .profile_settings {
        margin: unset;
        position: absolute;
        right: 0;
        bottom: 15px;
    }
    .profile_mobile {
        display: block;
    }
    p.application_p {
        font-size: 12.5px;
        color: #4e4e51;
    }
    .application_item {
        margin-bottom: 25px;
    }
    .personal_content.personal_content__additional {
        padding: 0;
        margin-top: 20px;
    }
    .personal_wrapper.personal_wrapper__us-de {
        padding-bottom: 30px;
        margin: 0 auto;
    }
    .application_item:nth-child(4) {
        margin-bottom: 0;
    }
    .profile_big.profile_big__us-de p.profile_title {
        font-size: 21px;
        padding: 15px 0;
    }
    .profile_big.profile_big__us-de .profile_top {
        padding-bottom: 0;
    }
    .profile_big.profile_big__us-de .personal_title {
        line-height: 1;
    }
    .profile_big.profile_big__us-de {
        border-top: 1px solid rgb( 10, 89, 119 );
        line-height: 1;
    }
    .application_picture {
        display: block;
    }
    .application_item {
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
    }
    .personal_content {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
    .personal_main,
    .social {
        width: 100%;
    }
    .personal_tab {
        border-right: none;
    }
    .personal-inner {
        margin:  0 auto;
    }
    .personal_tab {
        padding-top: 0;
        position: relative;
    }
    .personal.personal_sign .personal_title {
        display: none;
    }
    .personal_content {
        padding: 0 0 60px 0;
    }
    .personal.personal_sign .personal_h2 {
        padding-bottom: 25px;
    }
    .personal.personal_sign button.personal_button {
        padding: 8px 0;
        font-size: 14px;
        line-height: 1;
    }
    .personal.personal_sign input.personal_input {
        font-size: 12px;
        margin: 0 0 16px 0;
    }
    .social .social_h2 {
        color: #333333;
        font-size: 16.67px;
    }
    .social_icons a.for_link {
        max-width: 32px;
        max-height: 32px;
    }
    .social_icons a img {
        width: 133%;
    }
    a.personal_forgive {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid rgb( 10, 89, 119 );
        padding: 8px 0;
        border-radius: 5px;
        line-height: 1;
        margin-bottom: 27px;
    }
    .personal.personal_sign form.personal_reg {
        margin-bottom: 15px;
    }
    .social_entrance {
        width: 100%;
    }
    .social.social_active:before {
        display: block;
        content: '';
        width: 170px;
        height: 1px;
        margin: 0 auto 25px;
        background: rgb( 172, 172, 172 );
    }


    .personal_menu a.personal_a,
    .personal_menu a.personal_a.active {
        color: #666666;
        text-transform: unset;
        font-size: 16.5px;
        padding: 30px 0;
        border-top: 1px solid rgb( 10, 89, 119 );
        font-weight: normal;
        background-image: url(/verstka/img/mobile/arrow-right.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 4%;
    }
    .personal_menu {
        position: relative;
        width: 100% !important;
    }
    .social.social_active,
    .personal_h2.personal_h2__mobile,
    .personal_mobile.active,
    .personal_h2.personal_h2__reg {
        display: block;
    }
    .personal.personal_sign .personal_tab.personal_tab__registration form.personal_reg {
        margin-bottom: 0;
    }
    .personal.personal_sign .personal_tab.personal_tab__registration input.personal_input {
        width: 100% !important;
        max-width: unset !important;
    }
    .personal.personal_sign .personal_tab.personal_tab__registration .reg_input.reg_input__width {
        width: 100% !important;
    }
    .registration_inner {
        flex-wrap: wrap;
    }
    .personal.personal_sign form.personal_reg.personal_reg__registration button.personal_button.personal_button__registration {
        margin: 0 auto;
    }
    .personal_ttl__a.personal_ttl__mobile {
        display: block !important;
    }
    .personal_menu {
        line-height: 1;
        max-width: 100%;
    }
    .personal_content.personal_content__order.def {
        padding: 0 0 50px 0;
    }
    .personal_content.personal_content__order.def .personal_buttons {
        padding: 0;
    }
    .personal_tab.mobile,
    .mobile_menu,
    .social,
    .personal_tab.personal_tab__registration .personal_wrap,
    .reg_input.reg_input__width a.personal_ttl__a,
    .reg_input.reg_input__width p.personal_ttl__a,
    .date_buttons.date_buttons__hide,
    .orders_search.orders_search__hide,
    .order_status,
    .order_del,
    p.order_name.order_name__red,
    .close.close_order,
    .personal_content.personal_content__order.def .settings_buttons.settings_buttons__order button.personal_button.personal_button__settings {
        display: none;
    }
    .order_picture-pr {
        max-width: unset;
        width: 100%;
        margin: 0 auto;
    }
    img.order_pr-img {
        max-width: 110px;
        display: flex;
        margin: 0 auto;
    }
    .order_cart {
        flex-wrap: wrap;
    }
    .order_description {
        width: 100%;
        margin: 0 auto 12px;
        text-align: center;

    }
    p.order_pr-name,
    .order_col {
        margin-bottom: 12px;
    }
    .order_conditions {
        margin-top: 17px;
    }
    .order_stroke {
        margin-bottom: 9px;
    }
    .order_quantity {
        width: 100%;
        text-align: left;
    }

    .scroll_picture {
        left: 47%;
        padding-top: 7px;
        max-width: 36px;
        max-height: 36px;
    }
    .order {
        padding: 11px 8px 25px;
    }
    .order_product {
        background: url(/verstka/img/mobile/arrow.png);
        background-size: 4%;
        background-repeat: no-repeat;
        background-position: 100%;
    }
    .order_stroke {
        background: url(/verstka/img/mobile/settings.png);
        background-size: 4%;
        background-repeat: no-repeat;
        background-position: 100%;
    }
    .order_stroke:last-child {
        background: unset;
    }
    p.order_name,
    p.order_pr-name,
    p.order_col,
    p.order_code {
        font-size: 12.5px;
    }
    p.order_pr-price,
    .order_summarise p.order_title-big {
        font-size: 16.677px;
    }
    .order_name.order_name__blue {
        padding-right: 5px;
    }
    .personal_content.personal_content__order.def .settings_buttons.settings_buttons__order button.personal_button {
        font-size: 15px;
        line-height: 1;
    }
    .order_main {
        margin-top: 20px;
    }
    .order_stroke {
        align-items: unset;
    }
    .order_del.order_del__mobile {
        display: block;
    }
    section.personal {
        padding: 0 34px;
    }
    section.personal.personal_sign form.personal_reg.personal_reg__registration .registration_item .personal_ttl {
        font-size: 12.5px;
    }
    section.personal.personal_sign form.personal_reg.personal_reg__registration .personal.personal_sign input.personal_input {
        margin: 0 0 10px 0;
    }
    label.custom-check input+div {
        width: 22px;
        height: 22px;
    }
    section.personal.personal_sign form.personal_reg.personal_reg__registration .registration_block {
        margin-top: 17px;
    }
    section.personal.personal_sign form.personal_reg.personal_reg__registration .registration_block .registration_item {
        margin-bottom: 17px;
    }
    section.personal.personal_sign form.personal_reg.personal_reg__registration .registration_block .personal_captcha {
        margin: 0 auto 22px auto;
    }
    .personal_title.personal_title__mobile {
        display: block !important;
    }
    .profile_picture.profile_picture__settings {
        background: url(/verstka/img/mobile/change_userpic.png);
        background-repeat: no-repeat;
        background-position: 100%;
        cursor: pointer;
    }
    p.settings_p {
        color: #666666;
        font-size: 16.677px;
    }
    .settings_item {
        justify-content: center;
    }
    .order_mobile {
        position: relative;
        display: block;
    }
    section.personal.personal_sign .personal_content {
        padding-bottom: 0;
    }
    section.personal.personal_sign .personal_content.personal_content__padding {
        padding-bottom: 60px;
    }
    .personal_menu {
        padding-left: 0;
    }
    .entrance_picture.active {
        display: block;
    }
    a.personal_a:first-child {
        margin-left: 24px;
        border-top: none !important;
    }
    .personal_mobile.active {
        border-bottom: 1px solid rgb( 10, 89, 119 );
    }
    .help {
        max-width: 190px;
        padding: 14px;
        top: -104px;
        right: -31px;
    }
    p.help_p {
        font-size: 12px;
    }
    .help:after {
        border: 9px solid transparent;
        border-top: 10px solid #363636;
        bottom: -18px;
    }
}
@media screen and (min-width: 300px) and (max-width: 400px){
    .personal.personal_sign .close.close_order.close_mobile {
        right: -5px;
    }
    .personal.personal_sign .back {
        left: -5px;
    }
}
@media screen and (max-width: 320px){
    body {
        overflow-x: unset;
    }
}
/* END FOR MOBILE DEVICES */

