@media all and (max-width: 1202px) {
    .y_market>img {
		max-width: 100%;
    }
    .container {
    	width: 100%;
    }
    .row {
    	width: 100%;
    	margin: 0;
    }
    .no_adaptive {
    	display: none!important;
    }
    .to_adaptive {
    	display: block;
    }
    .mob_footer_numer.to_adaptive .numer {
        font-size: 20px;
        cursor: pointer;
    }
    .mob_menu_header {
    	float: left;
    	width: 25%;
    }
    .mob_header_ittems {
    	float: right;
    	width: 25%;
    }
    .logo_block_header {
    	width: 50%;
    	text-align: center;
	}
	.logo_block_header>a>img {
    	height: 50px;
	}
	header {
    	height: 70px;
    }
    .mob_header_ittem {
    	text-align: right;
    	padding-right: 20px;
    }
    .mob_header_ittem>div {
    	display: inline-block;
    	vertical-align: top;
    	width: 48px;
    	height: 70px;
    }
    .mob_header_ittem>div>a {
    	display: flex;
    	width: 100%;
    	height: 100%;
    }
    .mob_header_ittem>div>a>img {
    	margin: auto;
    }
    .mob_phone_header>a>img {
    	margin-top: 12px!important;
    }
    .slick-slide img {
    	width: 100%;
	}
	.home_pop_cat>.container>div {
    	margin-left: 0;
	}
	.home_pop_cat .pop_cat:nth-child(5) {
		clear: both;
	}
	.home_pop_cat .pop_cat {
    	width: 25%;
    	float: left;
    	margin-left: 0;
    	display: block;
    	vertical-align: middle;
    	position: relative;
    	border: solid 1px #a1a1a1;
    	cursor: pointer;
    	transition: 0.3s;
    	margin-bottom: 0px;
    	height: 138px;
    	overflow: hidden;
	}
	.home_pop_cat .pop_cat .title {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	height: auto;
    	padding: 42px 24px;
    	font-size: 110%;
    	color: #ffffff;
   		background: rgba(142, 142, 142, 0.7294117647058823);
    	line-height: 26px;
    	text-align: center;
    	font-weight: 600;
	}
	.home_pop_cat {
		overflow: auto;
		margin-bottom: 10px;
	}
	.home_popular_item .ittems_block_tr .ittem {
    	width: 32%;
    }
    .home_brand_slider {
    	width: 90%;
    }
    .slider_brand {
    	width: 100%;
    }
    .b_slider_prev {
    	left: -25px;
	}
	.b_slider_next {
    	right: -25px;
	}
	.title_wrap>.container {
		width: 80%;
	}
	.title_wrap:before {
    	background: #a1a1a1;
	}
	ul.footer_social {
		display: block;
    	text-align: center;
	}
	ul.footer_pay {
		display: block;
    	margin: auto;
   		margin-top: 20px;
	}
	ul.footer_social>li {
    	margin: 0px 14px;
	}
	.home_massage_equipment_b .ittems_int {
    	width: 29%;
    	margin-left: 2%;
    	margin-right: 2%;
	}
	.home_massage_equipment {
    	margin-top: 25px;
    	margin-bottom: 25px;
	}
	.footer img {
    	max-width: 68%;
    	height: auto;
	}
	.home_pop_cat .pop_cat img {
    	max-width: 100%;
    	min-height: 100%;
    	margin: auto;
	}
	.footer_menu_mob>.cell {
    	width: 50%;
    	display: inline-block;
    	vertical-align: top;
    	padding-left: 10%;
    	margin-bottom: 20px;
	}
	.footer_menu_mob {
    	width: 80%!important;
    	margin: auto!important;
	}
    .sitebar {
        width: 90%;
        margin-left: 5%;
    }
    .content {
        width: 90%;
        margin-left: 5%;
    }
    .ittems_block_tr>.ittem {
        width: 32.333%;
        margin-left: 1%;
    }
    .ittems_block_tr {
        overflow: auto;
    }
    .m_feet_cat {
        text-align: center;
    }
    .naw_sort>.sort_to {
        width: 178px;
    }
    .naw_sort>.wiew_to {
        width: 105px;
    }
    .ittems_block_tr>.ittem {
        width: 49%;
        margin-left: 1%;
        display: block;
        float: left;
        background: #ffffff;
        min-height: 20px;
        border: 1px solid #fff;
        box-shadow: 0 0 15px #bbb;
        margin-bottom: 10px;
        padding-bottom: 10px;
        transition: 0.3s;
    }
    .container.top_menu_cat_page>.m_equ_cat>div,
    .content.top_menu_cat_page>.m_feet_cat>div,
    .content.top_menu_cat_page>.m_equ_cat>div
      {
        display: none;
        box-shadow: none;
    }
    .top_menu_cat_page {
        padding-top: 0px!important;
    }
    .text_cat_mobile_m {
        display: block!important;
    }
    .subr_menu>.container>ul>li {
        list-style: none;
        width: 100%;
        height: 68px;
        border-bottom: solid 1px #a1a1a1;
        background-color: #f2f2f2;
        padding: 0;
        border-left: none;
        border-right: none;
        margin: 0;
        text-align: center;
    }
    .subr_menu>.container>ul>li>a {
        display: block;
        margin: auto;
        width: 100%;
        line-height: 67px;
        text-align: center;
        color: #373737;
        font-size: 20px;
        font-weight: 600;
    }
    .subr_menu>.container>ul>li.active,
    .text_cat_mobile_m>ul>li.active {
        background-color: #902728;
    }
    .subr_menu>.container>ul>li.active>a,
    .text_cat_mobile_m>ul>li.active>a {
        color: #ffffff;
    }
    .sitebar, .naw_sort {
        display: none;
    }
    .sitebar.open, .mob_sort, .mob_sort_view {
        display: block;
    }
    .ittems_block_tr>.ittem .image img {
        margin: auto;
        display: block;
    }
    .sidebar_baner>img {
        display: block;
        margin: auto;
    }
    .sidebar_baner {
        margin-bottom: 20px;
    }
    .page_korzina {
        margin-top: 0px;
    }
    .title_korzina>.title {
        width: 100%;
        font-size: 22px;
        text-align: center;
    }
    .ittens_korzina>.ittem>.img_item {
        width: 100%;
        text-align: center;
        border-bottom: solid 1px #e8e8e8;
    }
    .ittens_korzina>.ittem>.itno_ottem_korzina {
        width: 100%;
        border-bottom: solid 1px #e8e8e8;
        text-align: center;
    }
    .ittens_korzina>.ittem>.prise_ittem {
        width: 25%;
    }
    .ittens_korzina>.ittem>.colum_ittem {
        width: 25%;
    }
    .ittens_korzina>.ittem>.out_prise_ittem {
        width: 25%;
    }
    .ittens_korzina>.ittem>.dell_ittem {
        width: 25%;
    }
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 34%;
    }
    .info_buttoms_korzina>div {
        float: none;
        width: 100%;
    }
    .info_buttoms_korzina>div>a {
        margin-left: 0px;
    }
    .info_buttoms_korzina>div>a:last-child {
        float: right;
    }
    .korzina_bottom_info>.block_info {
        width: 70%;
        float: left;
    }
    .korzina_bottom_info>.block_info:nth-child(2n) {
        float: right;
    }
    .korzina_bottom_info>.block_info:nth-child(2n)>img {
        float: right;
    }
    .korzina_bottom_info>.block_info:nth-child(2n)>p {
        float: right;
    }
    .right_block_korzina_dector,
    .left_block_korzina_dector {
        width: 100%;
    }
    .tovar>.subr_menu>.container>ul {
        overflow: auto;
    }
    .tovar>.subr_menu>.container>ul>li {
        width: 50%;
        float: left;
        border-right: solid 1px #a1a1a1a1;
    }
    .tovar>.subr_menu>.container,
    .body_tovar {
        width: 84%;
        margin-left: auto;
        margin-right: auto;
    }
    .tovar>.subr_menu>.container>ul>li>a {
        font-size: 16px;
    }
    .top_block_tovar>.title {
        text-align: center;
    }
    .left_block_tovar,
    .right_block_tovar {
        width: 100%;
    }
    .top_block_tovar>.left_block_tovar>.slider_tovar>.colors_tovar {
        width: 100%;
        margin-left: 0;
    }
    .right_block_tovar {
        padding-left: 0px;
    }
    .top_block_tovar>.left_block_tovar {
        width: 100%;
    }
    .top_block_tovar>.left_block_tovar>.slider_tovar>.b_img {
        width: 100%;
    }
    .media_block_tovar>.img_tovar>img {
        max-width: 100%;
    }
    .option_tovar>.img_tovar_op {
        width: 100%;
        border-bottom: solid 1px #eeeeee;
    }
    .option_tovar>div {
        width: 100%;
        padding: 0 10px;
        padding-bottom: 10px;
    }
    .option_tovar>.check_tovar_op {
        min-height: 135px;
        border-top: solid 1px #eeeeee;
        width: 20%;
    }
    .option_tovar>.colum_tovar_op {
        width: 40%;
        min-height: 135px;
        border-top: solid 1px #eeeeee;
    }
    .option_tovar>.price_tovar_op {
        min-height: 135px;
        border-top: solid 1px #eeeeee;
        width: 40%;
    }
    .similar_block_tovar>.ittems_block_tr>.ittem {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .sravnenie_body>.container>.right_block_sravn {
        width: 100%;
        padding-left: 0px;
    }
    .bottom_text_sravn {
        text-align: center;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 92%;
    }
}
@media all and (max-width: 1250px) {
    .y_market {
    	display: none!important;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 91%;
    }
}
@media all and (max-width: 1100px) {
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 90%;
    }   
}
@media all and (max-width: 1050px) {
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 88%;
    } 
}
@media all and (max-width: 900px) {
 	.current.advantages>.container>.row>.cell.footer {
		display: inline-block;
		width: 25%;
	}
	.advantages {
		height: auto;
	}
    .right_sravn_tables>table {
        width: 49%!important;
        margin-bottom: 10px;
    }
    .name_ittems_sravn>.uttem_sravn {
        width: 49%;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 800px) {
    .home_popular_item>.container {
		width: 75%;
    }
    .home_popular_item .ittems_block_tr .ittem {
    	width: 48%;
	}
	.home_massage_equipment_b .ittems_int {
    	width: 29%;
    	margin-left: 1.5%;
    	margin-right: 1.5%;
	}
	.mob_menu_header {
    	width: 15%;
	}
	.mob_header_ittems {
    	width: 35%;
	}
	.current.advantages>.container>.row>.cell.footer {
		width: 33%;
	}
    .sitebar {
        width: 80%;
        margin: auto;
        box-shadow: 0 0 15px #d2d2d2;
    }
    .content {
        width: 80%;
        margin: auto;
        display: block;
    }
    .ittems_block_tr>.ittem {
        width: 49%;
    }
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 30%;
    }
    .name_ittems_sravn>.uttem_sravn {
        width: 49%;
        margin-bottom: 10px;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 86%;
    } 
}
@media all and (max-width: 730px) {
    #appFastBuyContainer {
        margin-left: 0 !important;
        width: 94% !important;
        left: 3% !important;
        right: 3% !important;
        height: auto !important;
    }
    #appFastBuyContainer .column {
        width: 50% !important;
    }
    #appFastBuyContainer input, #appFastBuyContainer textarea, #appFastBuyContainer #fastBuyFormSubmit {
        width: 95% !important;
    }
}
@media all and (max-width: 700px) {
    .home_pop_cat .pop_cat {
    	width: 50%;
    	height: 165px;
	}
	.current.advantages>.container>.row>.cell.footer {
		width: 50%;
	}
	.no_mobile {
		display: none!important;
	}
	.slider_one .slick-slide a {
    	bottom: 10px;
	}
    .mob_sort_filters>img {
        width: 30px;
        margin-top: 5px;
    }
    .mob_sort_view>img {
        width: 32px;
        margin-top: 5px;
    }
    .ittems_block_tr>.ittem {
        width: 100%;
        margin-left: 0px;
    }
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 22%;
    }
    .tovar>.subr_menu>.container>ul>li {
        width: 100%;
    }
    .menu_tovar>ul>li {
        width: 50%;
        border: solid 1px #a1a1a1;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 84%;
    } 
}
@media all and (max-width: 650px) {
    .home_popular_item .ittems_block_tr .ittem {
    	width: 100%;
	}
	.ittems_block_tr>.ittem .image {
		text-align: center;
	}
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 17%;
    }
    .left_form_dector>div>p, .company_form>div>p {
        width: 100%;
        float: none;
    }
    .left_form_dector>div>input[type=text] {
        width: 97%;
        line-height: 30px;
    }
    .left_form_dector>div>label {
        float: left;
    }
    .prise_dector>p {
        width: 97%!important;
        text-align: center;
    }
    .prise_dector>div {
        width: 97%;
        text-align: center;
    }
    .add_companu_button {
        margin-left: 0;
    }
    .similar_block_tovar>.ittems_block_tr>.ittem {
        width: 100%;
        margin-left: 0%;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 83%;
    } 
}
@media all and (max-width: 600px) {
    .calback_modal.open, 
    .pm_d_modal.open {
        width: 97%;
    }
    .calback_modal.open>.closs_th_modal_b, 
    .pm_d_modal.open>.closs_th_modal_b {
        right: 0;
    }
    .calback_modal form input[type=text], 
    .pm_d_modal form input[type=text], 
    .pm_d_modal form input[type=email], 
    .calback_modal form input[type=number],
    .pm_d_modal form textarea,
    .calback_modal form input[type=submit], 
    .pm_d_modal form input[type=submit] {
        width: 90%;
    }
}
@media all and (max-width: 550px) { 
    .mob_sort_filters {
        width: 94%;
    }
    .mob_sort_view {
        width: 93%;
        margin-left: 4%;
        float: left;
        margin-top: 0px;
    }
    .mob_sort {
        min-height: 230px;
    }
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 14%;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 80%;
    } 
}
@media all and (max-width: 500px) {
    .mob_header_ittems {
    	width: 42%;
	}
	.logo_block_header {
    	width: 38%;
	}
	.footer span {
    	font-size: 12px;
	}
	.slider_one .slick-slide a {
    	bottom: 8px;
	}
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 9%;
    }
    .ittens_korzina>.ittem>.dell_ittem {
        width: 12%;
    }
    .ittens_korzina>.ittem>.out_prise_ittem,
    .ittens_korzina>.ittem>.prise_ittem {
        width: 28%;
    }
    .ittens_korzina>.ittem>.colum_ittem {
        width: 32%;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 79%;
    }
    .right_sravn_tables>table {
        width: 99%!important;
        margin-bottom: 10px;
    }
    .name_ittems_sravn>.uttem_sravn {
        width: 99%;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 450px) {
    .logo_block_header {
    	width: 30%;
	}
	.mob_header_ittems {
    	width: 50%;
	}
	.footer_menu_mob {
    	width: 100%!important;
    	margin: auto!important;
	}
	ul.footer_social>li {
    	margin: 0px 8px;
	}	
	ul.footer_pay>li {
    	width: 15.4%;
    	height: auto;
    }
    ul.footer_pay>li>a>img {
    	max-width: 100%;
    	height: auto;
    }
    .slider_one .slick-slide a {
    	bottom: 5px;
	}
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 5%;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 77%;
    } 
}
@media all and (max-width: 414px) {
    /*#appFastBuyContainer .column {
        width: 100% !important;
    }*/
}
@media all and (max-width: 400px) {
    .mob_header_ittems {
    	width: 55%;
	}
	.logo_block_header {
    	width: 27%;
	}
	.mob_menu_header {
    	width: 18%;
	}
	.home_pop_cat .pop_cat {
    	height: 130px;
	}
    .mob_sort_view .nice-select .list {
        left: -25px;
    }
    .ittens_korzina>.ittem>.out_prise_ittem>p>span,
    .ittens_korzina>.ittem>.prise_ittem>p>span {
        width: 100%;
        display: block;
    }
    .info_buttoms_korzina>div>a {
        font-size: 12px;
    }
    .ittens_korzina>.ittem>.colum_ittem>.title,
    .ittens_korzina>.ittem>.prise_ittem>.title,
    .ittens_korzina>.ittem>.out_prise_ittem>.title {
        font-size: 11px;
    }
    .korzina_bottom_info>.block_info {
        width: 100%;
    }
    .korzina_bottom_info>.block_info>p {
        width: 58%;
    }
    .company_blcok>div>p {
        display: block;
    }
    .company_blcok>div>.nice-select {
        margin-left: 19px;
    }
    .tovar>.subr_menu>.container>ul>li>a {
        font-size: 14px;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 73%;
    }
    .right_block_tovar>.buttoms_tovar_to>.cell>a,
    .right_block_tovar>.buttoms_tovar_to>.cell>p {
        width: 60%;
        float: right;
    }
}
@media all and (max-width: 350px) {
    .mob_menu_body>.title>form {
    	width: 79%;
	}
	.mob_menu_body>ul>li {
    	padding-left: 10px;
	}
    .mob_sort_view .nice-select .list {
        left: -40px;
    }
    .text_cat_mobile_m>ul>li>a {
        font-size: 17px;
    }
    .info_buttoms_korzina>div>a {
        font-size: 10px;
    }
    .ittens_korzina>.ittem>.colum_ittem {
        width: 34%;
    }
    .ittens_korzina>.ittem>.out_prise_ittem, .ittens_korzina>.ittem>.prise_ittem {
        width: 27%;
    }
    .ittens_korzina>.ittem>.colum_ittem>a.in_min {
        margin-left: 3%;
    }
    .reviews_body_tovar>.form_rewiews_tovar>input[type=text] {
        width: 70%;
    }
}
@media all and (max-width: 300px) {

}
