/* COMMON FOR MODALS */
.close {
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
img.close_img {
    max-width: 100%;
}
.a_blue{
    color: #0a5a77;
    font-size: 16.7px;
}
h2.title_h2 {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    margin: 0 0 40px 0;
    padding: 0;
    color: #000;
}
.popUp {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
.popUp.active {
    display: block;
}
.background-bl,
.background-mob {
    display: block;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;
}
.popUp_position {
    position: relative;
    background: unset;
}
.personal_button.personal_button__hide {
    display: none;
    max-width: 195px;
    font-size: 16px;
    margin: 0 auto;
}
.dropshipping_input.dropshipping_input__mobile {
    display: none;
}

.choose_picture {
    max-width: 120px;
}
.call,
.mail,
.download {
    padding: 0 33px;
    margin: 0 auto;
    color: white;
    position: relative;
    z-index: 99999;
    text-align: center;
    top: 20%;
}
.call a,
.mail a,
.download a,
.mob_txt {
    font-size: 24.31px;
    padding: 0;
    margin: 0;
    color: white;
}
.mail a,
.mob_txt.mob_txt__uppercase {
    text-transform: uppercase;
}
.mob_picture {
    max-width: 60px;
    max-height: 60px;
    padding: 20px 0;
    margin: 0 auto;
}

/* END COMMON FOR MODALS */

/* FOR RECOVERY MODAL */
.recovery,
.access {
    top: 22%;
    position: relative;
    z-index: 1000;
    margin: auto;
    max-width: 420px;
    background-color: white;
    padding: 50px 40px;
    box-sizing: border-box;
}
p.recovery_p {
    padding: 0;
    margin: 0;
    font-size: 16.67px;
    color: #666666;
}
.recovery .personal_reg input.personal_input.personal_input__email {
    max-width: 335px;
    margin: 35px 0 45px;
}
.recovery_btn {
    text-align: center;
}
button.personal_button.personal_button__recovery {
    background: #0A5A77;
    color: #FFFFFF;
    border: 1px solid #0A5A77;
}
/* END RECOVERY MODAL */

/* FOR USERPIC MODAL */
.settings_userpic {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
.userpic {
    margin: auto;
    background: white;
    max-width: 400px;
    padding: 11px 43px 32px 43px;
    z-index: 111000;
    position: relative;
    top: 33%;
}
h3.userpic_h3 {
    font-size: 16.677px;
    margin-bottom: 27px;
    text-align: center;
    color: #333333;
}
/* END FOR USERPIC MODAL */

/* FOR SELECT */
label.order_abs-check {
    padding-right: 13px;
}
label.order_abs-check input {
    min-height: unset !important;
    display: none;
}
label.order_abs-check input+div {
    content: "\a";
    width: 26px;
    height: 26px;
    background-image: url(/verstka/img/mobile/order-check.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
label.order_abs-check input:checked+div {
    background-image: url(/verstka/img/mobile/order-checked.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.order_abs-select {
    margin: auto;
    background: white;
    max-width: 400px;
    z-index: 111000;
    position: relative;
    top: 33%;
    border-radius: 5px;
}
p.order_abs-p {
    color: #000000;
    font-size: 12.5px;
    margin: 0;
    padding: 0 0 0 11px;
}
.order_abs-stroke {
    padding: 12px 0 7px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.order_abs-stroke:last-child {
    border-bottom: unset;
}
/* END FOR SELECT */

/* FOR ACCESS MODAL */
.access_btn {
    text-align: center;
    margin-top: 40px;
}
@media screen and (max-width: 750px){
    .settings_userpic.active {
        display: block;
    }
    .access {
        margin: 0 auto;
        border-radius: 5px;
        padding: 24px 7px 70px 7px;
        max-width: 400px;
    }
    .access h2.title_h2 {
        text-align: center;
        color: #4e4e51;
        font-size: 14px;
    }
    .access .close,
    .access p.recovery_p {
        display: none;
    }
    .access button.personal_button.personal_button__recovery {
        max-width: 150px;
    }
    button.personal_button.personal_button__recovery {
        max-height: 38px;
        font-size: 12px;
        color: white;
        background: #0a5977;
        line-height: unset;
    }
    .recovery {
        max-width: 400px;
        padding: 25px 34px 70px;
    }
    .recovery .title {
        line-height: 1;
    }
    .recovery h2.title_h2 {
        font-size: 16.667px;
        text-align: center;
        color: #666666;
    }
    .recovery p.recovery_p {
        font-size: 12.5px;
    }
    .recovery .personal_reg input.personal_input.personal_input__email {
        max-width: 100%;
        margin: 25px 0 30px;
        font-size: 12.5px;
    }
    .recovery button.personal_button.personal_button__recovery {
        max-width: unset;
        width: 100%;
    }

}
@media screen and (max-width: 520px){
    .userpic,
    .order_abs-select {
        margin: 0 33px;
    }
}
@media screen and (max-width: 450px) {
    .access {
        margin: 0 33px;
    }
}
/* END FOR ACCESS BUTTON */

/* FOR RESPONSIVE RECOVERY */
.popUp.popUp_recovery.popUp_position {
    position: relative;
    background: unset;
}
.popUp.popUp_recovery.popUp_position .background-bl,
.popUp.popUp_dropshipping.popUp_position .background-bl,
.popUp.popUp_wants.popUp_position .background-bl,
.popUp.popUp_pay.popUp_position .background-bl {
    display: none;
}
/* END FOR RESPONSIVE RECOVERY */


/* Start for new modals (заказ дроппшипинг)*/
.dropshipping,
.wants,
.pay {
    position: relative;
    z-index: 1000;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 63px 71px 40px 68px;
    max-width: 680px;
    top: 8%;
    line-height: 1;
}
._drop {
    cursor: pointer;
}
h2.dropshipping_h2 {
    font-size: 32px;
    color: #000;
    text-align: center;
    padding-bottom: 32px;
    font-weight: normal;
    margin: 0;
}
.dropshipping_wrap {
    max-width: 541px;
    color: #333333;
}
p.dropshipping_p {
    color: #333333;
    font-size: 16.7px;
    margin: 0;
    padding-bottom: 33px;
    line-height: 25px;
}
p.dropshipping_p.dropshipping_p__red {
    color: #ff0000;
    font-size: 12.49px;
    padding-bottom: 21px;
}
.personal_reg.personal_reg__dropshipping {
    padding: 0;
    margin: 0;
}
.personal_reg.personal_reg__dropshipping input {
    max-width: 382px;
    width: 100%;
    margin: 0;
}
p.dropshipping_ttl {
    color: #000;
    font-size: 20.83px;
    margin: 0;
    padding-bottom: 9px;
}
p.dropshipping_ttl span {
    color: #ff0000;
}
.dropshipping_input{
    padding-bottom: 22px;
}
.registration_item.registration_item__dropshipping {
    margin: 0;
    padding-bottom: 26px;
}
.recovery_btn.recovery_btn__dropshipping {
    width: 108px;
}
.dropshipping .recovery_btn.recovery_btn__dropshipping {
    margin: 0 0 0 auto;
}
.dropshipping_btns {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
}
.pay .personal_reg.personal_reg__dropshipping input {
    max-width: 188px;
    width: 100%;F
    margin: 0;
}
.dropshipping_input input.date_btn {
    background-size: 17%;
}
.pay .personal_input.personal_input__time {
    background-image: url(/verstka/img/mobile/time.svg);
    background-size: 17%;
    background-position: 95%;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.pay .dropshipping_selects,
.pay .dropshipping_selects .dropshipping_ttl {
    padding-bottom: 25px;
}
.pay .registration_item.registration_item__dropshipping {
    padding-bottom: 14px;
}
.pay .registration_item.registration_item__dropshipping:last-child {
    padding-bottom: 0;
}
.pay .dropshipping_input .dropshipping_ttl {
    padding-bottom: 16px;
}
.dropshipping_txt {
    color: #494647;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
.pay .dropshipping_txt:last-child{
    padding-bottom: 26px;
}
.pay textarea {
    max-width: 383px;
    width: 100%;
}
.dropshipping_textarea .dropshipping_ttl {
    padding-bottom: 14px;
}
.dropshipping_textarea {
    max-width: 543px;
}
.dropshipping_textarea textarea {
    margin: 14px 0 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
button.personal_button.personal_button__load {
    max-width: 164px;
    background: #646565;
    text-transform: unset;
    border: 1px solid #646565;
    font-size: 16px;
}
.recovery_btn.recovery_btn__load{
    text-align: left;
    margin-bottom: 30px;
}
.go {
    display: none;
    max-width: 25px;
    max-height: 17px;
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 21px;
    transform: rotate(90deg);
}
.go.go_close {
    display: block;
    transform: scale(1.2);
    position: absolute;
    right: 15px;
    top: 15px;
    top: 20px;
    right: 21px;
    cursor: pointer;
    left: unset;
}
.popUp.popUp_dropshipping button.personal_button,
.popUp.popUp_wants button.personal_button,
.popUp.popUp_pay button.personal_button {
    font-size: 16px;
}
.popUp.popUp_mail,
.popUp.popUp_call,
.popUp.popUp_download,
.popUp.popUp_mail.active,
.popUp.popUp_call.active,
.popUp.popUp_download.active {
    display: none;
}
@media screen and (max-width: 750px) {
    .go.go_close {
        transform: scale(1);
    }
    .popUp.popUp_mail.active,
    .popUp.popUp_call.active,
    .popUp.popUp_download.active,
    .go {
        display: block;
    }
    .popUp.popUp_dropshipping,
    .popUp.popUp_wants,
    .popUp.popUp_pay {
        z-index: 1;
    }
    .popUp.popUp_dropshipping button.personal_button,
    .popUp.popUp_wants button.personal_button,
    .popUp.popUp_pay button.personal_button {
        font-size: 14px;
    }
    .dropshipping,
    .wants,
    .pay {
        padding: 20px 33px 50px;
        max-width: 400px;
        z-index: 1;
    }
    .dropshipping_selects,
    .dropshipping_textarea {
        display: none;
    }

    h2.dropshipping_h2 {
        padding: 0 0 20px 0;
        border-bottom: 1px solid rgb( 10, 89, 119 );
        color: #4e4e51;
        font-size: 16px;
        text-align: center;
        margin-bottom: 24px;
    }
    .dropshipping p.dropshipping_p {
        font-size: 12px;
        padding-bottom: 30px;
    }
    .personal_button.personal_button__hide {
        display: block;
    }
    p.dropshipping_p.dropshipping_p__red {
        padding: 0 0 16px;
    }
    .dropshipping .recovery_btn.recovery_btn__dropshipping {
        margin: 0 auto;
    }
    .dropshipping p.dropshipping_ttl,
    .wants p.dropshipping_ttl,
    .pay p.dropshipping_ttl {

        font-size: 16px;
    }
    .recovery_btn.recovery_btn__dropshipping._dropGo button {
        height: 43px;
        max-height: unset;
        font-size: 16px;
    }
    .popUp button.personal_button.personal_button__settings {
        margin: 0;
    }
    .dropshipping_input.dropshipping_input__mobile {

        display: block;
    }
    .dropshipping_selects.active {
        display: block;
        max-width: 320px;
        position: relative;
        background: white;
        top: 19%;
        margin: 0 auto;
        padding: 40px 13px 36px 10px;
    }
    .dropshipping_selects p.dropshipping_ttl {
        display: none;
    }
    .selects-back {
        display: none;
        background: rgba(0,0,0,.5);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 998;
    }
    .selects-back.active{
        display: block;
    }
    .adaptive__header.unactive {
        position: unset;
    }
    .a_blue{
        font-size: 12px;
    }
}
/* End for new modals */


