.examples {
    margin-top: 30px;
}

.choose_city {
	width: 300px;
    min-height: 500px;
    border-radius: 5px;
    border-color: #0A5A77;
    background-color: #F4F4F4;
    z-index: 13;
    margin-right: 0;
    border-style: solid;
    padding: 5px;
    margin-left: 10px;
	text-align: center;
	margin-bottom: 25px;
}

.choose_city_title {
	display:none;
}

.choose_city button {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    font-size: 13pt;
    font-weight: 600;
    color: #0A5A77;
    background-color: transparent;
    border: none;
}

.choose_city button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.choose_city button:before, .choose_city button:after {
  position: relative;
  content: "";
  right: 0;
  top: 0;
  background: #81B5D1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.choose_city button:before {
  height: 0%;
  width: 2px;
}
.choose_city button:after {
  width: 0%;
  height: 2px;
}
.choose_city button:hover:before {height: 100%;}
.choose_city button:hover:after {width: 100%;}
.choose_city button span:before, .choose_city button span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #81B5D1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.choose_city button span:before {

  height: 0%;
}
.choose_city button span:after {
  width: 0%;
  height: 2px;
}
.choose_city button span:hover:before {height: 100%;}
.choose_city button span:hover:after {width: 100%;}

.results {
	max-width: 900px;
    min-height: 500px;
    margin-left: 400px;
    margin-top: -670px;
    margin-right: 10px;
}

.contacts_ctiy {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
    transition: all ease 0.2s;
    padding: 5%;
	margin-bottom: 25px;
	font-size: 14pt;
}

.contacts_ctiy a {
	text-decoration:none;
	color: #000;
}

.city_bottom_block {
    display: block;
}

.contacts_city_icon {
    width: 34px;
    height: 34px;
    position: relative;
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
}

.contacts_city_text {
    position: relative;
    margin-left: 50px;
    margin-top: -32px;
}


@media (max-width: 900px) {
	
.examples {
    height: fit-content;
    display: block;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.choose_city {
	width: auto;
	max-width: 100%;
    min-height: 0px;
    border-radius: 5px;
    border-color: #0A5A77;
    background-color: #F4F4F4;
    z-index: 13;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    FONT-WEIGHT: 100;
    display: block;
    position: relative;
	padding: 0;
	
}

.choose_city_title {
	display: block;
    margin-bottom: 0px;
    padding-bottom: 5px;
	padding-left: 25px;
    font-size: 16pt;
    font-weight: 600;
    color: #0A5A77;
    min-height: 30px;
    background-color: #fff;
}

.choose_city_title_inner {
	display: inline-block;
    position: relative;
    padding: 0 40px 0 0;
    cursor: pointer;
}

.choose_city_title_inner:hover:before{
    transform: translateY(1px);
}
.choose_city_title_inner:before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(/shou-rum/img/arrow_down.png) no-repeat center center;
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in-out;
}
.choose_city_title_inner.open:before{
    transform: rotate(180deg);
}

.choose_city_body {
	display: none;
    border-top: 2px solid #0A5A77;
	padding-top: 15px;
}


.choose_city button {
    width: 50%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 24%;
    font-size: 13pt;
    font-weight: 600;
    color: #0A5A77;
    background-color: transparent;
    border: none;
    display: block;
    text-align: center;
}

.choose_city button:before, .choose_city button:after {
	display:none;
}

.choose_city button span:hover:before {display:none;}
.choose_city button span:hover:after {display:none;}

.results {
    max-width: 100%;
    min-height: auto;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    float: revert;
    display: block;
    position: relative;
    width: auto;
}
.city_bottom_block {
    display: block;
    margin-top: 0px;
}
}