.items.productList{
	margin-bottom: 24px;
}

.removeFromWishlist{
	display: none;
}

.items.productList.width-100{
	max-width: unset;
}

.items.productList.width-100 .catalog-products-list  .item.product.sku{
	width: 24% !important;
}

#catalogElement{
	max-width: 1200px;
	margin: 0 auto;
}